<template>
    <div>
        <heading class="mb-6">Campaign Destination Airports</heading>
        <div class="flex justify-between">
            <div class="relative h-9 flex items-center mb-6">
                <icon type="search" class="absolute ml-3 text-70" />
                <input v-model="search"
                       class="appearance-none form-search w-search pl-search shadow"
                       :placeholder="__('Search')"
                       type="search"
                >
            </div>
        </div>
        <card> 
            <form class="form-inline" v-on:submit.prevent="onSubmit">
                <table class="table w-full" cellpadding="0" cellspacing="0">
                    <tbody>
                <tr>
                <td>
                     <input placeholder="Departure" id="destair_departure" name="departure" v-model="destairData.departure" type="text" class="w-full form-control form-input form-input-bordered"  required>
                </td>
                <td>
                     <input placeholder="Sequence" id="destair_sequence" name="sequence" v-model="destairData.sequence" type="number" class="w-full form-control form-input form-input-bordered"  required>
                </td>
                <td>
                     <input placeholder="IATA" id="destair_iata" name="iata" v-model="destairData.iata" type="text" class="w-full form-control form-input form-input-bordered" required>
                </td>
                <td class="td-fit text-right pr-6">
                    <button type="submit" class="btn btn-default btn-icon btn-primary inline-flex items-center relative">Create</button> 
                </td>
                </tr>
                    </tbody>
                </table>
            </form>
        </card>
        <card>
            <destair-table :destairs="sortedDestairs" :sort="sortBy"></destair-table>
        </card>
    </div>    
</template>

<script>
 import DestairTable from './DestairTable';
    export default {
        props: ['resourceName', 'resourceId', 'field'],
        components: { DestairTable },
        data() {
            return {
                destairs: [],
                search: '',
                sort: {
                    field: '',
                    order: -1,
                },
                destairData: {
                    'departure': '',
                    'sequence': '',
                    'iata': ''
                },
            }
        },
        mounted() {
            this.getDestairs();
        },
        methods: {
            getDestairs() {
                Nova.request().get('/nova-vendor/campaign-destination-airport/'+this.resourceId ).then(response => {
                    //console.log(JSON.stringify(response.data));   
                    this.destairs = response.data;
                });
            },
            sortBy(field) {
                this.sort.field = field;
                this.sort.order *= -1;
                this.destairs.sort((destair1, destair2) => {
                    let comparison = 0;
                    if (destair1[this.sort.field] < destair2[this.sort.field]) {
                        comparison = -1;
                    }
                    if (destair1[this.sort.field] > destair2[this.sort.field]) {
                        comparison = 1;
                    }
                    return comparison * this.sort.order;
                });
            },    
            onSubmit(campaign){
                var app = this; //doesn't like this but app it might
                Nova.request().get('/nova-vendor/campaign-destination-airport/create/'+ this.resourceId +'/'+ this.destairData.departure +'/'+ this.destairData.sequence +'/'+ this.destairData.iata ).then(response => {
                    this.destairs.push({departure: app.destairData.departure, sequence: app.destairData.sequence, iata: app.destairData.iata });                    
                    this.destairData.iata = ''
                    this.destairData.sequence = ''
                    this.destairData.departure = ''
                });
            },
        },
        computed: {
            sortedDestairs() {
                if (! this.search.length) {
                    return this.destairs;
                }           
                const regex = this.searchRegex;
                // User input is not a valid regular expression, show no results
                //console.log(regex);
                if (! regex) {
                    return {};
                }           

                return this.destairs.filter(destair => {
                    let matchesSearch = false;
                    for (let key in destair) {
                        if (Array.isArray(destair[key])) {
                            destair[key].forEach(property => {
                                if (regex.test(property)) {
                                    matchesSearch = true;
                                }
                            });
                        }
                        else if (regex.test(destair[key])) {
                            matchesSearch = true;
                        }
                    }
                    return matchesSearch;
                });
                return this.destairs.sort((a,b) => {
                    let modifier = 1;
                    if(this.currentSortDir === 'desc') modifier = -1;
                    if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                    if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                    return 0;
                });
            },
            searchRegex() {
                try {
                    //console.log(this.search);
                    return new RegExp('(' + this.search + ')','i');
                } catch (e) {
                    return false;
                }
            }
        }
    }

</script>
