<template>
    <div>
        <heading class="mb-6">Campaign Checks</heading>
        <div class="flex justify-between">
            <div class="relative h-9 flex items-center mb-6">
                <icon type="search" class="absolute ml-3 text-70" />
                <input v-model="search"
                       class="appearance-none form-search w-search pl-search shadow"
                       :placeholder="__('Search')"
                       type="search"
                >
            </div>
        </div>
        <card> 
            <form class="form-inline" v-on:submit.prevent="onSubmit">
                <table class="table w-full" cellpadding="0" cellspacing="0">
                    <tbody>
                <tr>
                <td>
                     <input placeholder="Stage" id="check_stage" name="stage" v-model="checkData.stage" type="text" class="w-full form-control form-input form-input-bordered"  required>
                </td>
                <td>
                     <input placeholder="Sequence" id="check_sequence" name="sequence" v-model="checkData.sequence" type="number" class="w-full form-control form-input form-input-bordered"  required>
                </td>
                <td>
                     <input placeholder="Validity" id="check_validity_check" name="validity_check" v-model="checkData.validity_check" type="text" class="w-full form-control form-input form-input-bordered" required>
                </td>
                <td class="td-fit text-right pr-6">
                    <button type="submit" class="btn btn-default btn-icon btn-primary inline-flex items-center relative">Create</button> 
                </td>
                </tr>
                    </tbody>
                </table>
            </form>
        </card>
        <card>
            <check-table :checks="sortedChecks" :sort="sortBy"></check-table>
        </card>
    </div>    
</template>

<script>
 import CheckTable from './CheckTable';
    export default {
        props: ['resourceName', 'resourceId', 'field'],
        components: { CheckTable },
        data() {
            return {
                checks: [],
                search: '',
                sort: {
                    field: '',
                    order: -1,
                },
                checkData: {
                    'stage': '',
                    'sequence': '',
                    'validity_check': ''
                },
            }
        },
        mounted() {
            this.getChecks();
        },
        methods: {
            getChecks() {
                Nova.request().get('/nova-vendor/campaign-check/'+this.resourceId ).then(response => {
                    //console.log(JSON.stringify(response.data));   
                    this.checks = response.data;
                });
            },
            sortBy(field) {
                this.sort.field = field;
                this.sort.order *= -1;
                this.checks.sort((check1, check2) => {
                    let comparison = 0;
                    if (check1[this.sort.field] < check2[this.sort.field]) {
                        comparison = -1;
                    }
                    if (check1[this.sort.field] > check2[this.sort.field]) {
                        comparison = 1;
                    }
                    return comparison * this.sort.order;
                });
            },    
            onSubmit(campaign){
                var app = this; //doesn't like this but app it might
                Nova.request().get('/nova-vendor/campaign-check/create/'+ this.resourceId +'/'+ this.checkData.stage +'/'+ this.checkData.sequence +'/'+ this.checkData.validity_check ).then(response => {
                    this.checks.push({stage: app.checkData.stage, sequence: app.checkData.sequence, validity_check: app.checkData.validity_check });                    
                    this.checkData.validity_check = ''
                    this.checkData.sequence = ''
                    this.checkData.stage = ''
                });
            },
        },
        computed: {
            sortedChecks() {
                if (! this.search.length) {
                    return this.checks;
                }           
                const regex = this.searchRegex;
                // User input is not a valid regular expression, show no results
                //console.log(regex);
                if (! regex) {
                    return {};
                }           

                return this.checks.filter(check => {
                    let matchesSearch = false;
                    for (let key in check) {
                        if (Array.isArray(check[key])) {
                            check[key].forEach(property => {
                                if (regex.test(property)) {
                                    matchesSearch = true;
                                }
                            });
                        }
                        else if (regex.test(check[key])) {
                            matchesSearch = true;
                        }
                    }
                    return matchesSearch;
                });
                return this.checks.sort((a,b) => {
                    let modifier = 1;
                    if(this.currentSortDir === 'desc') modifier = -1;
                    if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                    if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                    return 0;
                });
            },
            searchRegex() {
                try {
                    //console.log(this.search);
                    return new RegExp('(' + this.search + ')','i');
                } catch (e) {
                    return false;
                }
            }
        }
    }

</script>
