
<template>
    <div class="overflow-hidden overflow-x-auto relative">
        <table class="table w-full" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th v-for="(field, index) in fields" :key="index" class="text-left">
                    <sortable-icon
                        @sort="sort(field.attribute)"
                        :resource-name="resourceName"
                        :uri-key="field.attribute"
                    >
                        {{ __(field.label) }}
                    </sortable-icon> 
                </th>    
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(language, index) in languages"
                v-bind:key="index"
                v-bind:language="language"
            >
                <template v-if="editId === index">                     
                    <td class="whitespace-no-wrap text-left">
                        {{ editLanguageData.language }}
                    </td>
                    <td><input v-model="editLanguageData.alternate" class="w-full form-control form-input form-input-bordered" type="number"></td>
                    <td><input v-model="editLanguageData.sequence" class="w-full form-control form-input form-input-bordered" type="number"></td>
                    <td class="td-fit text-right pr-6">
                        <button type="submit" @click="onEditSubmit(language.campaign,language)" class="btn btn-default btn-icon btn-primary inline-flex items-center relative" dusk="update-button">
                            <span class="">Save</span>
                        </button>
                        <a @click="onCancel" tabindex="0" class="btn btn-default btn-icon btn-white inline-flex items-center relative">
                        X
                        </a>
                    </td>
                </template>                
                <template v-else-if="deleteId === index">  
                    <td id="delete_sure" colspan="3">Are you sure you want to delete the laguage "{{language.language}}"?</td>
                    <td class="td-fit text-right pr-6">
                        <button type="submit" @click="deleteEntry(language.campaign, language.language, index)" class="btn btn-default btn-icon btn-primary inline-flex items-center relative" dusk="update-button">
                            <span class="">Delete</span>
                        </button>
                        <a @click="onCancel" tabindex="0" class="btn btn-default btn-icon btn-white inline-flex items-center relative">
                        X
                        </a>
                    </td>
                </template>
                <template v-else>
                    <td class="whitespace-no-wrap text-left">
                        {{ language.language }}
                    </td>
                    <td class="whitespace-no-wrap text-left">
                        {{ language.alternate }}
                    </td>
                    <td class="whitespace-no-wrap text-left">
                        {{ language.sequence }}
                    </td>
                    <td class="td-fit text-right pr-6">
                        <button class="cursor-pointer text-70 hover:text-primary mr-3" v-on:click="onEdit(language, index)">               
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" aria-labelledby="edit" role="presentation" class="fill-current">
                                <path d="M4.3 10.3l10-10a1 1 0 0 1 1.4 0l4 4a1 1 0 0 1 0 1.4l-10 10a1 1 0 0 1-.7.3H5a1 1 0 0 1-1-1v-4a1 1 0 0 1 .3-.7zM6 14h2.59l9-9L15 2.41l-9 9V14zm10-2a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4c0-1.1.9-2 2-2h6a1 1 0 1 1 0 2H2v14h14v-6z"></path>
                            </svg>
                        </button>   
                        <button class="cursor-pointer text-70 hover:text-primary mr-3" v-on:click="onDelete(language.campaign, language.language, index)">       
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" aria-labelledby="delete" role="presentation" class="fill-current">
                                <path fill-rule="nonzero" d="M6 4V2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2h5a1 1 0 0 1 0 2h-1v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6H1a1 1 0 1 1 0-2h5zM4 6v12h12V6H4zm8-2V2H8v2h4zM8 8a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V9a1 1 0 0 1 1-1zm4 0a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V9a1 1 0 0 1 1-1z"></path>
                            </svg>
                        </button> 
                    </td>
                </template>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    const StyleGenerator = (() => {
        let styleIndex = 0;
        let usedStyles = {};
        const styles = [
        ];
        return {
            generate: function(value) {
                if (styleIndex >= styles.length) {
                    styleIndex = 0;
                }
                if (! usedStyles.hasOwnProperty(value)) {
                    usedStyles[value] = styles[styleIndex];
                }
                styleIndex++;
                return usedStyles[value];
            }
        };
    })();
    export default {
        data() {
            return {
                editId: '',
                deleteId: '',
                fields: [
                    {
                        label: 'Language',
                        attribute: 'language',
                    },
                    {
                        label: 'Alternate',
                        attribute: 'alternate',
                    },
                    {
                        label: 'Sequence',
                        attribute: 'sequence',
                    },
                ],
                editLanguageData: {
                    'language': '',
                    'alternate': '',
                    'sequence': ''
                },
            };
        },
        props: {
            languages: {
                type: Array,
                required: true,
            },
            sort: {
                type: Function,
            },
        },

        methods: {
            style(value) {
                return StyleGenerator.generate(value);
            },
            onDelete(campaign, language, index) {                
                this.deleteId = index          
            },
            deleteEntry(campaign, language, index) {            
                this.deleteId = ''
                this.editId = ''  
                var app = this; //doesn't like this but app it might
                Nova.request().delete('/nova-vendor/campaign-language/'+campaign+'/'+language)
                .then(function (resp) {
                    app.languages.splice(index, 1);
                });     
            },
            onEdit(language, index) {
                this.editId = index
                this.editLanguageData.language = language.language
                this.editLanguageData.alternate = language.alternate
                this.editLanguageData.sequence = language.sequence        
            },
            onCancel(){
                this.editId = ''        
                this.deleteId = ''
                this.editLanguageData.language = ''
                this.editLanguageData.alternate = ''
                this.editLanguageData.sequence = ''
            },
            onEditSubmit (campaign, language) {
                if (this.editLanguageData.alternate=='') {
                    this.editLanguageData.alternate=0
                }
                var app = this; //doesn't like this but app it might
                Nova.request().get('/nova-vendor/campaign-language/edit/'+ campaign +'/'+ this.editLanguageData.language +'/'+ this.editLanguageData.alternate +'/'+ this.editLanguageData.sequence )
                .then(function (resp) {
                    language.alternate=app.editLanguageData.alternate;
                    language.sequence=app.editLanguageData.sequence;
                }); 
                this.editId = ''        
                this.deleteId = ''
            }
        }
    }
</script>