<template>
    <div>
        <heading class="mb-6">Campaign Languages</heading>
        <div class="flex justify-between">
            <div class="relative h-9 flex items-center mb-6">
                <icon type="search" class="absolute ml-3 text-70" />
                <input v-model="search"
                       class="appearance-none form-search w-search pl-search shadow"
                       :placeholder="__('Search')"
                       type="search"
                >
            </div>
        </div>
        <card> 
            <form class="form-inline" v-on:submit.prevent="onSubmit">
                <table class="table w-full" cellpadding="0" cellspacing="0">
                    <tbody>
                <tr>
                <td>
                     <input placeholder="Language" id="language_language" name="language" v-model="languageData.language" type="text" class="w-full form-control form-input form-input-bordered"  required>
                </td>
                <td>
                     <input placeholder="Alternate" id="language_alternate" name="alternate" v-model="languageData.alternate" type="text" class="w-full form-control form-input form-input-bordered" required>
                </td>
                <td>
                     <input placeholder="Sequence" id="language_sequence" name="sequence" v-model="languageData.sequence" type="text" class="w-full form-control form-input form-input-bordered" required>
                </td>
                <td class="td-fit text-right pr-6">
                    <button type="submit" class="btn btn-default btn-icon btn-primary inline-flex items-center relative">Create</button> 
                </td>
                </tr>
                    </tbody>
                </table>
            </form>
        </card>
        <card>
            <language-table :languages="sortedLanguages" :sort="sortBy"></language-table>
        </card>
    </div>
</template>

<script>
    import LanguageTable from './LanguageTable';
    export default {
        props: ['resourceName', 'resourceId', 'field'],
        components: { LanguageTable },
        data() {
            return {
                languages: [],
                search: '',
                sort: {
                    field: '',
                    order: -1,
                },
                languageData: {
                    'language': '',
                    'alternate': '',
                    'sequence': ''
                },
            }
        },
        mounted() {
            this.getLanguages();
        },
        methods: {
            getLanguages() {
                Nova.request().get('/nova-vendor/campaign-language/'+this.resourceId ).then(response => {
                    //console.log(JSON.stringify(response.data));   
                    this.languages = response.data;
                });
            },
            sortBy(field) {
                this.sort.field = field;
                this.sort.order *= -1;
                this.languages.sort((language1, language2) => {
                    let comparison = 0;
                    if (language1[this.sort.field] < language2[this.sort.field]) {
                        comparison = -1;
                    }
                    if (language1[this.sort.field] > language2[this.sort.field]) {
                        comparison = 1;
                    }
                    return comparison * this.sort.order;
                });
            },    
            onSubmit(campaign){
                var app = this; //doesn't like this but app it might
                Nova.request().get('/nova-vendor/campaign-language/create/'+ this.resourceId +'/'+ this.languageData.language +'/'+ this.languageData.alternate +'/'+ this.languageData.sequence  ).then(response => {
                    this.languages.push({language: app.languageData.language, alternate: app.languageData.alternate , sequence: app.languageData.sequence});                    
                    this.languageData.language = ''
                    this.languageData.alternate = ''
                    this.languageData.sequence = ''
                });
            },
        },
        computed: {
            sortedLanguages() {
                if (! this.search.length) {
                    return this.languages;
                }           
                const regex = this.searchRegex;
                // User input is not a valid regular expression, show no results
                //console.log(regex);
                if (! regex) {
                    return {};
                }           

                return this.languages.filter(language => {
                    let matchesSearch = false;
                    for (let key in language) {
                        if (Array.isArray(language[key])) {
                            language[key].forEach(property => {
                                if (regex.test(property)) {
                                    matchesSearch = true;
                                }
                            });
                        }
                        else if (regex.test(language[key])) {
                            matchesSearch = true;
                        }
                    }
                    return matchesSearch;
                });
                return this.languages.sort((a,b) => {
                    let modifier = 1;
                    if(this.currentSortDir === 'desc') modifier = -1;
                    if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                    if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                    return 0;
                });
            },
            searchRegex() {
                try {
                    //console.log(this.search);
                    return new RegExp('(' + this.search + ')','i');
                } catch (e) {
                    return false;
                }
            }
        }
    }

</script>

