#flight-table {
    th {
    height: 3.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
    }
    td{
        height: 3.1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 0;
    }
}
  @include media-breakpoint-up(lg) {
      #flight-table {
        font-size: 1rem;
      }
    }
