span.editing{
	display: block;
	position:absolute;
	cursor: pointer;
}

span.editing>img{
	position:relative;
	top:-22px;
	left:-22px;
}


#lightbox{

	display:none;
	position:absolute;
	top:0;
	left:0;
	padding-left: 50%;	/**/
}

#lightbox-shade{
	display:none;
	position:fixed;
	z-index: 100;
	background-color: #000;
	left:0px;
	top:0px;	
	width:100%;
	height:100%;
}

#lightbox-highlight-shade{
	display:none;
	position:absolute;
	left:0px;
	top:0px;	
}

#lightbox-highlight-shade div{
	background-color: #000;
	position:absolute;

}

#popover{position: absolute; top:0px; left:0px; z-index: 110; display: none;}


*.livefirehidden{
	display: none;
}

.select_skin { position:relative; }
.select_skin > select { position:absolute; top:0px; left:0px;}
.select_skin_text { display:block; }

label.file, label.date { position: relative; cursor: pointer;}
label.file:before{cursor: pointer;}

label.file > input { opacity: 0; position: absolute; cursor: pointer; left:0px;}
label.date > input { cursor: pointer; }

label.file:before{
	content: attr(filename);
}

label.file:after, label.date:after{ 
	content:'upload';
	position: absolute;
	background: #000 url(/system/images/upload-icon.png) center center no-repeat; 

	color:transparent;
	height: 30px;/* For this example the button is square and 30px high and wide */
	width: 30px;
	right:-30px;/* =negative the width of the button*/

}

