

*.wrong { color:red;}

form.responsive div.thinblock{
	width:378px;
	margin:0px auto;
	text-align: left;
	padding-bottom: 5px;
}

form.responsive div.thinblock:last-of-type{ margin-bottom: 20px; }

form.responsive div.thinblock + div.thinblock{
	border-top: #bababa 1px solid; 
	padding-top: 15px;
}

form.responsive div.chain{
	text-align: justify;
	width:550px;
	margin:20px auto;
	display: table;
	border-spacing: 5px;
    border-collapse: separate;
    text-align: center;
}

form.responsive div.chain a{
	text-transform: uppercase;
	font-size: 18px;
	padding:15px 5px;

	color:#fff;
	background-color: #d5d5d5;
	
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;

}

form.responsive div.chain a.current,
form.responsive div.chain a.completed{
	background-color: #090708;
}

form.responsive div.chain a.completed{
	color:#a5a5a5;
}



form.responsive .edit_menu_buttons{
	position:absolute;
	top:-20px;
	/*left:0px;*/
	margin-left:-338px;
	width:675px;
	/*margin: 0px auto;*/
	text-align: left;
	/*left:-15px;*/
	cursor: pointer;
}


form.responsive label.form_label, 
form.responsive label.report, 
form.responsive label.file,
form.responsive input,
form.responsive progress,
form.responsive button,
form.responsive a.style_button,
form.responsive textarea{
	margin:auto;
	width:378px;
	text-align: left;
}



form.responsive label.form_label{
	display: block;
	font-weight: 100;
	color:#333;
	font-size: 13px;
	line-height: 13px;/*8px;/**/
	text-transform: uppercase;
	margin-bottom: 10px;/**/
}





form.responsive select,
form.responsive .select_skin_text{	line-height:36px; vertical-align: baseline;}




form.responsive select,
form.responsive .select_skin_text{ height:36px; }

	
form.responsive select,
form.responsive .select_skin_text{
	width: auto;
	padding-right: 42px;
	background: #fff url(/inspire_shared/responsive/images/form/selectbg.png) right top no-repeat; 
border-radius: 4px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}


/* firefox / IE select skin fix */
form.responsive select::-ms-expand {
    display: none;
}

form.responsive .select_skin_text { margin-bottom: 0px; display:block;}
form.responsive .select_skin{ display: inline-block; padding-bottom: 25px; margin-bottom: 0px; }



form.responsive select.departure{ width: 163px;	}
form.responsive select.destinations { width: 258px; }
form.responsive select.destinations:not(:last-child) {  margin-bottom: 5px;}

form.responsive select.time-span-field { width: 132px; }

form.responsive select.clean-drop-down { width: 378px; }

form.responsive select.stayfield{ margin-bottom: 5px; position: relative; top:-15px; /*margin-left:40px;*/}

form.responsive textarea{
	padding-top: 6px;
	height:134px;
}

form.responsive label.report{
	line-height: normal;
	position: relative;
	top:-28px;
	text-align:left;
	font-size: 17px;
	display: block;
	color: red;
}

form.responsive label.report:empty{
	display:none;
}

form.responsive select.destinations + br + label.report {top:-5px;}

form.responsive a.style_button:active,
form.responsive button.style_button:active{
	position: relative;
	top:2px;
}

form.responsive a.button_control,
form.responsive a.style_button, 
form.responsive button.style_button{
	-webkit-appearance: none; 
	font-family: 'Arial', sans-serif;
	text-align: center;
	position: relative;
	display: block;
	text-decoration: none;
	position: relative;
	cursor: pointer;
	height:48px;
	line-height: 46px;
	color:#fff;
	border: 0px solid;
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 60px;

}


/* Radio Buttons and checkboxes are hidden and replaced by their labels */
form.responsive input[type="checkbox"]{ display:none; }



form.responsive input[type="checkbox"] + label{ 
	display: block;
	position: relative;
	margin:auto;
	box-sizing: border-box;
	/*width:378px;*/
	padding-left:35px;
	padding-top: 3px;
	color:#333;
	font-size: 13px;
	line-height: 13px;
	padding-bottom: 30px;
	
	text-align: left;

}

form.responsive input[type="checkbox"] + label:after{
	content: '';
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	width:22px;
	height:22px;
	background-color: transparent;
	background: transparent url(/inspire_shared/responsive/images/form/tickbox-unticked.png) left top no-repeat; border:none;
} 

form.responsive input[type="checkbox"]:checked + label:after{  background: #333 url(/inspire_shared/responsive/images/form/tickbox-ticked.png) left top no-repeat; border:none; }





form.responsive h3,
form.responsive p{
	/*width:378px;*/
	margin:0 auto 20px auto;
}

form.responsive h3{
	line-height: normal;
	font-family: 'Arial', sans-serif;
	font-size: 18px;
	display: block;
	text-align: left;
	color:#4e4e4d;
	text-transform: uppercase;
	margin-top: 20px;
}

/*form.responsive p + label {margin-top:20px;}*/

form.responsive p.review { text-transform: uppercase; margin-bottom: 10px; display:flex; flex-direction:row; }

form.responsive p.review label.form_label{
		/*display: inline-block;*/
		color:#7d7d7c;
		margin:0px;
		flex:none;
		width: 175px;
		line-height: 25px;
}

form.responsive p.review.newline{
	display:block; 
}

form.responsive p.review.newline label.form_label{
	display:block;
}

form.responsive div.hidden{
	display: none;
}









form.responsive label.form_label:empty{
	margin-bottom: 0px;
}

form.responsive label.form_label img{
	vertical-align:text-bottom;
	
}

form.responsive label.report{
	font-family: 'Arial', sans-serif;
	font-size: 11px;
	line-height: 8px;
	text-transform: uppercase;

}


form.responsive input,
form.responsive progress,
form.responsive textarea,
form.responsive label.file,
form.responsive select,
form.responsive .select_skin_text{

	border:#ccc 1px solid;
	border-radius: none;
	background-image: none;
	text-align: left;

	color:#333;
	padding:0px 8px;
	height:30px;


	
	font-size: 13px;
	font-family: 'Arial', sans-serif;
	
	font-weight: normal;
	margin-bottom: 30px;	
}

form.responsive progress{
	padding:0px;
}

/* upload input styling */
form.responsive label.file, form.responsive label.date > input { border-right-width:0px; display:block;}

form.responsive label.file:after, form.responsive label.date:after{ 
	background: url(/inspire_shared/images/form/upload-icon.png) center center no-repeat; 
	height: 30px;
	width: 30px;
	top:-1px;
	right:0px;
}


form.responsive input,
form.responsive progress,
form.responsive label.file,
form.responsive select,
form.responsive .select_skin_text{
		line-height: 30px;
}



form.responsive textarea{
	padding-top: 6px;
	height:120px;
}




form.responsive select,
form.responsive .select_skin_text{	line-height:30px; height:30px; vertical-align: baseline;}



	
form.responsive select,
form.responsive .select_skin_text{
	width: auto;
	padding-right: 32px;
	background: #fff url(/inspire_shared/responsive/images/form/selectbg.png) right top no-repeat; 
border-radius: 0px;
   -webkit-appearance: none;
}

/* firefox / IE select skin fix */
form.responsive .select_skin_text { margin-bottom: 0px; display:block;}
form.responsive .select_skin{ display: inline-block; padding-bottom: 25px; margin-bottom: 0px; }







form.responsive select.stayfield{ margin-bottom: 10px; top:-20px;}

form.responsive a.button_control,
form.responsive label.reveal_control{
	width:376px;
	height:48px;
	display: inline-block;
	line-height: 40px;
	color:#333;
	border-style: solid;
	border-width: 5px;
	text-transform: uppercase;
	font-family: 'Arial', sans-serif;
	font-size: 11px;
	font-weight: normal;	
	box-shadow: none;
	-webkit-box-shadow:none;
	margin-bottom: 30px;
}

form.responsive label.reveal_control:before{
	content: '+';
}

form.responsive label.reveal_control.active:before{
	content: '-';
}




/* Map Search amends */

form.responsive.inline div.thinblock{
	position: relative;
}

form.responsive.inline h2{
	margin-bottom: 19px;
}

form.responsive.inline input,
form.responsive.inline progress,
form.responsive.inline select,
form.responsive.inline .select_skin{

	width:calc(100% - 145px)!important;
}

form.responsive.inline .select_skin select{
	width:100%!important;
}

form.responsive.splitform .button_row.last_right > *:last-child{ float:right; margin-right: 0px!important; }

form.responsive.splitform .button_row{
	padding-top: 30px;
}

form.responsive.inline button,
form.responsive.splitform button
{
	width:auto;
	padding: 5px 20px;
	height:30px;

	font-size: 15px;
	line-height:normal;
	font-weight: bold;
	display: inline-block;
}

form.responsive.splitform button.back{
	background-color:#999999;	
}

form.responsive.inline button{
	width:140px;

	margin-bottom: 0px;
	position:absolute;
	top:0px;
	right:0px;
}

form.responsive.inline button.style_button:active{
	position:absolute;
}

form.responsive.popover{
	background-color: #fff;
	width: 700px;
	padding:21px 11px 21px 11px;
}

form.responsive.popover h2, form.responsive.popover p {
	max-width:841px; 
	margin:0px auto; 
	text-align: center;  
	margin-bottom: 30px; 
	font-size: 15px; 
	width: 675px;
	font-size: 24px;
	line-height: 24px;
	color: #999;

}

form.responsive.popover h2{
	text-transform: uppercase;
}	

form.responsive.popover p{
	color: #333333; font-size: 15px; line-height: 25px;
}

form.responsive.popover button{
	margin-bottom: 0px;
}



/* RTL Mods */

html[dir="rtl"] form.responsive label.form_label, 
html[dir="rtl"] form.responsive label.report, 
html[dir="rtl"] form.responsive label.file,
html[dir="rtl"] form.responsive input,

html[dir="rtl"] form.responsive textarea,
html[dir="rtl"] form.responsive select,
html[dir="rtl"] form.responsive .select_skin_text{
	text-align: right;

}


html[dir="rtl"] form.responsive select,
html[dir="rtl"] form.responsive .select_skin_text{
	padding-right: 8px;
	padding-left: 42px;

	/*background-position-x: left;*/
	background: #fff url(/inspire_shared/responsive/images/form/selectbg.png) left top no-repeat; 
	

}

html[dir="rtl"] form.responsive input[type="checkbox"] + label{ 
	padding-left:none;
	padding-right:35px;
	text-align: right;

}

html[dir="rtl"] form.responsive input[type="checkbox"] + label:after{left:inherit; right:0px; }
html[dir="rtl"] form.responsive .edit_menu_buttons{ margin-right:-338px; margin-left:0px; text-align:right; }

html[dir="rtl"] form.responsive label.file, 
html[dir="rtl"] form.responsive label.date{ border-right-width: 1px; border-left-width: 0px; }

html[dir="rtl"] form.responsive label.file:after, 
html[dir="rtl"] form.responsive label.date:after{ right:auto; left:0px; }
/**/	


/* Wierd Fixes */
form.responsive select.departure{ width: 163px;	}
form.responsive select.destinations { width: 258px; }
form.responsive select.destinations:not(:last-of-type) {  margin-bottom: 5px;}
form.responsive select.dropdown_month{ min-width:100px;}