
body.responsive_site { min-width:320px; }

body > ul.navigation.showmenu{ display:inline-block; }
body > nav.showmenu{ display:inline-block; }

@media screen and (max-width:1094px){	
	body.responsive_site div.content ul.airlines {
		width:100%;
	}
	
	div.content ul.airlines li{
		-ms-transform: scale(.9); /* IE 9 */
		-webkit-transform: scale(.9) ; /* Chrome, Safari, Opera */
		transform: scale(.9);
		margin:0px 10px;
		height:30px;
	}
}


@media screen and (max-width:960px){
	.content div.response_terms table{ width:100%; }	
	
		
	/* Navigation */
	body.responsive_site > ul.navigation li{  text-align: right; float: none;}
	body.responsive_site > ul.navigation li:not(:first-child){ border-left: 0px none transparent; }
	body.responsive_site > ul.navigation.showmenu{ display:inline-block; }
	body.responsive_site > ul.navigation.hidemenu{ display:none; }
	
	body.responsive_site > nav a{  text-align: right; float: none;}
	body.responsive_site > nav a:not(:first-child){ border-left: 0px none transparent; }
	body.responsive_site > nav.showmenu{ display:inline-block; }
	body.responsive_site > nav.hidemenu{ display:none; }
	body.responsive_site > nav {
		display: none;
		width:inherit;
		float: none;
		position: absolute;
		background-color: #fff;
		top:81px;
		right:0px;
		z-index: 100;
		font-size: 18px;
	}
	
	body.responsive_site a#menuicon {display:block;}
	img#menuiconimg {background: transparent url(/inspire_shared/images/menuicon.png) center top; width:24px; height:18px;}
	body.responsive_site > ul.navigation {
		display: none;
		width:inherit;
		float: none;
		position: absolute;
		background-color: #fff;
		top:81px;
		right:0px;
		z-index: 100;
		font-size: 18px;
	}
	
	/* Banner */
	body.responsive_site div#banner img#banner_image, 
	body.responsive_site div#banner picture#banner_image{
		width: 100%;
		height: auto;
	}
	
	body.responsive_site div#banner_content h1{font-size: 74px; line-height: 70px; font-size: 9vw; line-height: 9.1vw;}
	body.responsive_site div#banner_content p{font-size: 25px; font-size: 3.5vw;}
	body.responsive_site div#banner a#linktocontent{ display: none; }
	
	/* Content */
	body.responsive_site .content { padding-top: 49px; padding-left: 80px; padding-right: 80px; font-size: 21px;}
	body.responsive_site .content p, .content h2, .content h3, .content ol, .content ul {width:inherit;}
	body.responsive_site .content h2 {font-size: 30px;}
	body.responsive_site .content h1{ font-size:55px; font-size: 9vw; line-height: 9.1vw; }	
	
	/* Airlines */
	body.responsive_site div.content ul.airlines li{
		margin:0px 0px;
		height:17px;
		-ms-transform: scale(0.8, 0.8); /* IE 9 */
		-webkit-transform: scale(0.8, 0.8) ; /* Chrome, Safari, Opera */
		transform: scale(0.8, 0.8);
		
	}
	
	/*Social Media */
	body.responsive_site div#socialmedia {padding-top: 35px; }
	
	/* Footer */
	body.responsive_site div#footer{ width:inherit; padding-left: 44px; padding-right: 28px;}

	
	/* Forms */
	body.responsive_site .responsive div.field_block, .content form.responsive p, .responsive div.passenger_button, .content form.flights_form h3{
		/*width:100%;*/
	}
	

	
	body.responsive_site form.responsive:not(.mapsearch):not(.splitform):not(.inline)  button{ width:378px }
	body.responsive_site .content form.responsive p{ font-size: 19px; }
	body.responsive_site div.chain_block{ width:350px; }
}

@media screen and (max-width:760px){	
	body.responsive_site div.height_sync{ display:block; }
	body.responsive_site .content div.even{ width:100%; }
}


@media screen and (max-width:710px){	
	body.responsive_site form.responsive div.chain{display:block; width:inherit;}
	body.responsive_site form.responsive div.chain a{display:block;}
	body.responsive_site form.responsive div.chain a+a{ margin-top: 5px; }
}

@media screen and (max-width:675px){
	body.responsive_site form.responsive .edit_menu_buttons{width:50%; margin-left:-50%;}
}

@media screen and (max-width:658px){
	body.responsive_site div#banner_content h1{font-size: 50px; line-height: 45px; font-size: 9vw;line-height: 9.1vw;}	
	
	body.responsive_site div.content ul.airlines li{
		margin:0px 0px;
		height:14px;
		-ms-transform: scale(0.7, 0.7); /* IE 9 */
		-webkit-transform: scale(0.7, 0.7) ; /* Chrome, Safari, Opera */
		transform: scale(0.7, 0.7);
		
	}
	
}


@media screen and (max-width:637px){
	body.responsive_site div.content ul.airlines li{
		margin:0px 0px;
		height:10px;
		-ms-transform: scale(0.6, 0.6); /* IE 9 */
		-webkit-transform: scale(0.6, 0.6) ; /* Chrome, Safari, Opera */
		transform: scale(0.6, 0.6);
		
	}
}

@media screen and (max-width:542px){
	body.responsive_site form.responsive div.thinblock,
	body.responsive_site form.responsive:not(.mapsearch):not(.splitform):not(.inline) button,
	body.responsive_site form.responsive label.form_label, 
	body.responsive_site form.responsive label.file,
	body.responsive_site form.responsive input, 
	body.responsive_site form.responsive textarea{
		width:100%; /* /
		width:378px;*/
	}	
	
	body.responsive_site .content .thinblock p,  
	body.responsive_site .content .thinblock h2,  
	body.responsive_site .content .thinblock h3,  
	body.responsive_site .content .thinblock ol,  
	body.responsive_site .content .thinblock ul{
		width: 100%;

	}
	
	body.responsive_site form.responsive button{ max-width:378px }
	
	body.responsive_site form.responsive.mapsearch:not(.inline) input{
		text-align: center;
		width:240px;
		margin-bottom: 0px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	body.responsive_site form.responsive.mapsearch:not(.inline) button{
		
		position:relative;
		top:-10px;
		right:0px;
	}
	
	body.responsive_site form.responsive.mapsearch button.style_button:active{
		top:-8px;
	}

}
	
@media screen and (max-width:480px){
	/*html{ background: transparent url(/inspire_flights/images/responsive/demobgphone.png) center top no-repeat;}*/
	body.responsive_site > nav {width:100%; }
	body.responsive_site > ul.navigation {width:100%; /*display: none;*/}
	/*div#banner{ background: transparent url(/inspire_flights/images/responsive/banners/banner_def_mob.png) center top no-repeat; }
	div#banner.def_cro_banner{ background: transparent url(/inspire_flights/images/responsive/banners/banner_def_mob_cro.png) center top no-repeat; }
	div#banner.home_banner{	background: transparent url(/inspire_flights/images/responsive/banners/banner_home_mob.png) center top no-repeat; }
	div#banner.home_cro_banner{	background: transparent url(/inspire_flights/images/responsive/banners/banner_home_mob_cro.png) center top no-repeat; }
	div#banner.home_banner:before { padding-bottom: 90.63%;	}
	
	
	div#banner.con_banner{ background: transparent url(/inspire_flights/images/responsive/banners/banner_con_mob.png) center top no-repeat; }	
	div#banner.tac_banner{ background: transparent url(/inspire_flights/images/responsive/banners/banner_tac_mob.png) center top no-repeat; }
	div#banner.faq_banner{ background: transparent url(/inspire_flights/images/responsive/banners/banner_faq_mob.png) center top no-repeat; }
	div#banner.con_cro_banner{ background: transparent url(/inspire_flights/images/responsive/banners/banner_con_mob_cro.png) center top no-repeat; }	
	div#banner.tac_cro_banner{ background: transparent url(/inspire_flights/images/responsive/banners/banner_tac_mob_cro.png) center top no-repeat; }
	div#banner.faq_cro_banner{ background: transparent url(/inspire_flights/images/responsive/banners/banner_faq_mob_cro.png) center top no-repeat; }	*/
	
	/*body.responsive_site div#banner{ background-size: cover!important;	}
	/*
	div#banner:before { 
		/* (img-height / img-width * width) */
        /* (853 / 1280 * 100) * /
		padding-bottom: 76.88%;	
	}
	*/
	


	body.responsive_site div#banner a.buttonlink{ position:absolute; bottom:20px; right:5%; width:90%; padding: 10px 0px;font-size: 20px; line-height:normal; text-align: center; }
	
	
	body.responsive_site div#banner_content h1{font-size: 30px; line-height: 25px; font-size: 9vw; line-height: 9.1vw;}	
	body.responsive_site div#banner_content p{display: none; }
	
	body.responsive_site .content h1{ font-size:50px; font-size: 9vw; line-height: 9.1vw;}
	
	body.responsive_site .content h2{font-size: 22px;}
	
	body.responsive_site .content h3 {font-size: 18px;}
	
	body.responsive_site .content {padding-left: 30px; padding-right: 30px; font-size: 15px; padding-top: 29px;}
	
	body.responsive_site div#footer{ padding-left: 28px; }

	/* -- footer nav -- */
	
	body.responsive_site div#footer nav{ display:block;}
	
	body.responsive_site div#footer nav a:first-child{ border: none; padding-left: 0px; padding-right: 0px; }
	
	body.responsive_site div#footer nav a{line-height: normal;}

	/* -- ENd of footer nav -- */
	
	body.responsive_site div#footer ul{ display:block;}
	
	body.responsive_site div#footer ul li:first-child{ border: none; padding-left: 0px; padding-right: 0px; }
	
	body.responsive_site div#footer ul li{line-height: normal;}
	
	body.responsive_site div#footer p {margin-bottom:0px;}
	
	body.responsive_site div#footer p#footer_right_text{ margin:30px auto 36px auto; }
	
	body.responsive_site div#footer p > a { display:block; }
	body.responsive_site div#footer p > a >img{ position: static; top:auto; margin:10px auto;}
	
	
	body.responsive_site .responsive div.field_block, 
	body.responsive_site .responsive div.passenger_button, 
	body.responsive_site .content form.responsive p, 
	body.responsive_site .content form.flights_form h3{width:100%}
	
	body.responsive_site .content form.responsive div.chain_block{ width:100%;  }
	
	body.responsive_site .content form.responsive div.chain_block div p{font-size:15px;}
	

	body.responsive_site div#footer * {float:none; display: block;  margin-left:auto; margin-right:auto;}
	html[dir="rtl"] body.responsive_site div#footer * {float:none; display: block; margin-left:auto; margin-right:auto;}
	
	body.responsive_site div#footer #footer_right_text{ clear:left;float:none;  margin-left:0px;}
}
 
@media screen and (max-width:350px){
	/* Language Select */
	body.responsive_site form#form-lang-switch{ padding-left: 0px; }
	
	body.responsive_site form#form-lang-switch span.indicator{ left:0px; }
}