
/* General Settings */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html{
	background-color: white;	
	font-family: 'Arial', sans-serif; 
	font-size: 15px;
	font-weight: normal;
}

.clear:after {
	content: "";
	display: table;
	clear: both;
	line-height: 0px;
	height:0px;
	border-spacing: 0px;
}

/*----things added by Daniel----------------*/
.displaynone{display:none;}
.linkasbutton{background-color:#56648e; color:white; padding:5px; border:1px solid #334a8e;}
/*----/end things added by Daniel----------------*/

p, h1,h2,h3,h4,h5{line-height: normal;}

h1{ font-size:50px; color:#191919; text-transform: uppercase; margin-bottom: 40px;}

p{ margin-bottom: 36px; }
p strong{ color: #4e4e4d; }
p a, label a, h3 a{ text-decoration: none; }

p.sys_report{ clear:both; line-height: normal; }

strong { font-weight: bold; }

ol {list-style-type:decimal;}
ol li {margin-bottom: 36px;}

	
form { position: relative;}
 
body{
	text-align: center;
	padding: 0px;
	min-width:960px;
}

body > *{
	line-height: 0px;	
}


/*---New Header Flexbox---*/


header{
	display: flex;
	flex-direction: row;
	align-items: center;
	width:100%;
	justify-content: space-between;
}

header > *{
	flex: 1 0 0px;
}

	
img#header{
	/*height:64px;
	width:273px;*/
	display: inline-block;
	margin:31px auto 31px auto;	
	
}

img#linktocontentimg{
	height:70px;
	width:70px;
	margin: 0px auto;
	display: block;
	background: transparent url(/inspire_shared/responsive/images/shortcutarrow.png) center top no-repeat;
}



/* Language Select */
form#form-lang-switch{
	text-align: left;
	height: 33px;
	font-size:0px;
	line-height: 13px;
	padding-left: 10px;
	overflow-y: hidden;
	z-index: 90;
}

form#form-lang-switch.list{
	overflow-y:visible;	
}



form#form-lang-switch div.lang-select{
	display: inline-block;
	height: 33px;
	padding:3px 0px;
	position:relative;
	left:-10px;
	background-color: #fff;
}

form#form-lang-switch > div:first-of-type{
	width:10px;
}

form#form-lang-switch.list div.lang-select{
	
	
	height:auto;
	text-align: left;
	padding-left:10px;
	margin-top: 10px;
	
}

form#form-lang-switch.list div.lang-select:not(first-of-type){
	position: absolute;
	top:30px;
	left:0px;
	
}


form#form-lang-switch span.indicator,
form#form-lang-switch button{
	display: inline-block;

	margin:0px 5px 0px 0px;
	padding:0px;
	border: none;
	/*background-color: transparent;*/
	color: #333; /* Fallback for older browsers */
    cursor: pointer;


	/*display:flex;
	flex-direction: row;	
	/*font-size:13px;* /
	align-items: center;*/
}

form#form-lang-switch button{
	background-color: transparent;
}


form#form-lang-switch.list button{
	display: flex;
	line-height: 33px;
	
	text-align: left;
	vertical-align: middle;
	margin: 5px 0px;
}

form#form-lang-switch button img{ 
	border-width: 1px;
	border-style: solid;
	margin:2px 0px;
}

form#form-lang-switch button:not(.selected) img{ 
	border-color:#000;
}

form#form-lang-switch button.selected img{ 
	border-width: 3px;
	margin:0px 0px;
	position:relative;
	left:-2px;
}



form#form-lang-switch:not(.list) button label{
	display:none;
}


form#form-lang-switch button label{
	font-size:13px;
	padding: 0px 5px;
	margin: 2px 0px;
	line-height: 27px;
}

form#form-lang-switch span.indicator{
	padding-right: 10px;
	height:27px;
	background-image: url(/inspire_shared/images/flags/flagselect.png);
	background-position:  center center;
	border:1px solid #000;
	position:absolute;
	top:5px;
	left:10px;
}

/* Primary Navigation New */
a#menuicon {text-align: right; 
	padding-right: 10px;}

body > nav{
	display: inline-block;

	font-size: 11px;
	
	margin:0px;
	padding: 0px;
	
}

body > nav a{
	display: block;
	text-transform: uppercase;
	float:left;

	padding: 0px 27px;
	line-height: 28px;
	height: 28px;
	margin: 0px 0px 10px 0px;
	
}

body > nav a:not(:first-child){ border-left: 2px solid #dedede; }
body > nav a { text-decoration: none; color: #999;}




/* Primary Navigation */
a#menuicon {text-align: right; 
	padding-right: 10px;}

body > ul.navigation{
	display: inline-block;

	font-size: 11px;
	
	margin:0px;
	padding: 0px;
	
}

body > ul.navigation li{
	display: block;
	text-transform: uppercase;
	float:left;

	padding: 0px 27px;
	line-height: 28px;
	height: 28px;
	margin: 0px 0px 10px 0px;
	
}

body > ul.navigation li:not(:first-child){ border-left: 2px solid #dedede;  }
body > ul.navigation li a { text-decoration: none; color: #999;}




/* Banner */
div#banner{
	clear:both;
	position: relative;
	text-align: center;
	width:inherit;
	width:100%;	
	overflow:hidden;
	
	min-height: 50px;

}

/*So once we go above 192-n tehn we just need it centered but before then we need to be clever*/
/*
@media screen and (max-width:1920px){
	div#banner img#banner_image{
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	    position: relative;
	}
	
	div#banner img#banner_image{
		left: 50%;	
	}
}
*/

@media screen and (max-width:1920px){

	div#banner img#banner_image,
	div#banner picture#banner_image,
	div#banner picture#banner_image img{
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	    position: relative;
	}
	
	div#banner img#banner_image,
	div#banner picture#banner_image{
		left: 50%;	
	}

}

div#banner_content{
	position: absolute;
	top: 50%;
	left: 0px;
	right:0px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}


div#banner_content h1, 
div#banner_content p{
	text-transform: uppercase; 
	color:#fff; 
	text-shadow: 0px 1px rgba(0, 0, 0, .75);  
	text-align: center; 
	margin-left: 0px; 
	width:auto; 
}

div#banner_content h1{font-size: 90px; font-weight: bolder; line-height: 80px; }
div#banner_content p{font-size: 35px; margin-bottom: 0px; }

div#banner a#linktocontent{
	position: absolute;
	bottom: 30px;
	left:0px; 
	right: 0px;
}

div#banner a#linktocontent.locktowindow { position:fixed; bottom: 30px; }
div#banner a#linktocontent.passed { display:none; }

picture#banner_image{
	display: block;
	margin:0px;
	padding: 0px;
	border:0px;
}




/* Main Page */

/* The Scroll To Div sits under the banner but is moved up relatively so you seea bit of the Banner */
#scrollto {position:relative; top:-40px; }

.content { 
	background-color: #fff; 
	line-height: normal; 
	padding-top:47px; 
	font-size: 19px; 
	color:#797979; 
	/*max-width:954px; */
	margin-left:auto; 
	margin-right:auto;
}

.content p,  .content  h2,  .content  h3,  .content  h4,  .content  ol,  .content ul, .content table{
	max-width:841px; 
	margin:0px auto; 
	text-align: center;  
	margin-bottom: 30px; 
	color: #333333; 
	font-size: 15px; 
	line-height: 25px;
	width: 675px;
}
 
 .content h2,  .content h3{ font-size: 24px; line-height: 24px; color: #999; text-transform: uppercase;}
 
 
.content p +  .content p{ margin-top: 30px; }
 
.content  h2, .content  ol, .content  ul{
	margin-bottom: 15px; 
}

.content p,  .content  ol,  .content ul{
	color: #333333; font-size: 15px; line-height: 25px;
}

.content  ol li {
	margin-bottom: 60px;
	text-align: left;
}

.content .thinblock p,  
.content .thinblock h2,  
.content .thinblock h3,  
.content .thinblock ol,  
.content .thinblock ul{
  width: 378px;
  text-align: left;
}

.content div.hideme{
	display:none;
}


/* Terms Flight Matrix Table */
div.response_terms table th, 
div.response_terms table td{
	text-align: center;
	font-size: 15px;
	line-height: normal;
	
}

div.response_terms table{
	margin-bottom: 30px;
	table-layout: fixed;
	border-spacing: 5px 2px;
    border-collapse: separate;
}





/* Airline Logos */

div.content ul.airlines {
	width:1094px;
	display:block;
	max-width: none;
	text-align: center;
	font-size: 0px;	
}

div.content ul.airlines li{
	display:inline-block;
	margin:0px 20px;	
	height:35px;
	overflow: visible;
}



/* Social Media */

div#socialmedia {padding-top: 52px;}

div#socialmedia a {text-decoration: none;}

div#socialmedia a img {vertical-align: middle;}


/* Map */
div#map{
	height:430px;
	width:100%;
}



/* Footer */

div#footer{
	line-height: 50px;
	font-size: 12px;
	color:#333;	
	width:954px;
	margin:0px auto;
	
	
}

/*div#footer div#footer_text, div#footer div#footer_image, div#footer li{ float:left;}*/

div#footer > *{float:left; }

div#footer p, div#footer nav a, div#footer li{margin-top: 30px; vertical-align: top;}

div#footer img{position: relative; top:-4px; margin:0px 6px; vertical-align: text-top;}
div#footer img.rixlogo{top:-8px;}

/*div#footer a{display: inline; line-height: 0px;}*/

div#footer ul.navigation *{float:left; }

div#footer #footer_right_text{ float:right; padding-bottom: 50px; margin-left: 20px;}

div#footer ul li a{text-decoration: none; color:#333; line-height: 15px;}



div#footer ul li{ border-left: 1px solid #333; padding-left: 15px; margin-left: 15px;}

/* --Footer Nav -- */
/*div#footer nav *{float:left; }*/



div#footer nav a{float:left;  text-decoration: none; color:#333; line-height: 15px; border-left: 1px solid #333; padding-left: 15px; margin-left: 15px;}






.content *.doublecol{
	text-align: left;
	max-width: none;
	width: 100%;
}

div.height_sync{ 
	display:flex; 
	flex-direction:row;
	justify-content:space-between;
	margin:0px auto;
	max-width:954px;

}

.content div.even{
	text-align: left;
	width:49%;
}

.content div.even > *,
.content div.even div.thinblock
{
	text-align: left;
	width:100%;
}

div.mapentry> * {
	text-align: left;
	font-size: 14px;
	line-height: 19px;
}

div.mapentry> p{
	margin-bottom: 20px;
	width:inherit;
	padding-left:134px;
}

#map-details h3,
div.mapentry> h3 {
	text-align: left;
	margin-bottom: 0px;
	font-size: 15px;
	text-transform: none;
	font-weight: bold;
	padding-left:134px;
}	

div.mapentry.highlight{
	background-color: #dfeff1;
}

div.mapinfo{
	display:block;
	width:180px;
	
}

div.mapinfo > *{
	text-align: left;
}

div.mapinfo p{
	font-size: 12px;
	line-height: normal;
	margin-bottom: 0px;
	display:block;
	width:180px;
}

#map-details p{
	text-align: left;
	line-height: normal;
	width:inherit;
}

div.mapinfo h3{
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0px;
	display:block;
	width:180px;
}

.content .maplisting{
	border: #ccc 1px solid;
	border-left: none;
	border-right: none;
	padding-top:10px;
	
}

.content .maplisting > *{
	text-align: left;
	font-size: 14px;
	width:auto;
}

.content .maplisting h3{
	text-transform: none;
	font-size: 15px;
	font-weight: bold;
}

.content .maplisting h4{
	margin-bottom: 0px;
}

div.table_pagination_block{
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 30px;
	
}

div#map_pagination{
	display: inline-block;
}

span.pagination_link{
	cursor: pointer;
	display: inline-block;
	
	padding: 5px 5px;
	margin: 0px 1px;
	border: #959595 1px  solid;
}

span.pagination_current{
	background-color:#dfeff1; 
}

#map-details{
	margin-top:30px;
	font-size: 14px;
}




/* RTL Mods */
html[dir="rtl"] form#form-lang-switch{ padding-right:10px; padding-left:0px; left:inherit; text-align: right; }
html[dir="rtl"] form#form-lang-switch span.indicator{ right:10px; left:inherit; }
html[dir="rtl"] form#form-lang-switch div.lang-select{ right:-10px; left:inherit; }

html[dir="rtl"] body > ul.navigation li{ float:right; }
html[dir="rtl"] body > ul.navigation li:not(:first-child){ border-right: 2px solid #dedede; border-left:none;}
@media screen and (max-width:1920px){
	html[dir="rtl"] div#banner img#banner_image,
	html[dir="rtl"] div#banner picture#banner_image{
		right: 50%; 
		-webkit-transform: translateX(50%);
		-ms-transform: translateX(50%);
		transform: translateX(50%);
	}
} 

html[dir="rtl"] .content .thinblock,
html[dir="rtl"] .content .thinblock p,  
html[dir="rtl"] .content .thinblock h2,  
html[dir="rtl"] .content .thinblock h3,  
html[dir="rtl"] .content .thinblock ol,  
html[dir="rtl"] .content .thinblock ul{
  text-align: right;
}


html[dir="rtl"] div#footer > *{float:right; }
html[dir="rtl"] div#footer ul.navigation *{float:right; }
html[dir="rtl"] div#footer #footer_right_text{ float:left; margin-right: 20px; margin-left:0px;}
html[dir="rtl"] div#footer ul li{ border-right: 1px solid #4b4828;  border-left: none; padding-right: 15px; margin-right: 15px;}





/* The section of wierd fixes */

#title1  { width:132px; }
#title2  { width:132px; }
#title3  { width:132px; }
#title4  { width:132px; }


#birthday1_day,
#birthday2_day,
#birthday3_day,
#birthday4_day,
#flights_1_day,
#flights_2_day { 
	width:68px;
}

#birthday1_month  { width:111px; }
#birthday2_month  { width:111px; } 
#birthday3_month  { width:111px; } 
#birthday4_month  { width:111px; }
#flights_1_month  { width:111px; }
#flights_2_month   { width:111px; }

#birthday1_year,
#birthday2_year,
#birthday3_year,
#birthday4_year,
#flights_1_year,
#flights_2_year { 
	width: 79px;
}

#flights_1_nights,
#flights_2_nights{
	margin-top: 4px;
	width: 180px;
}

#contact-time_start { width: 115px; }
#contact-time_end { width: 100px; }

#departure{
	width: 163px;	
}

#destinations_1,
#destinations_2 {
	width: 258px;
}



/* -- The Cookie Banner styling -- */
form.cookiebanner{
	color:#fff;
	padding: 10px;
	z-index: 100;
}

form.cookiebanner h2{
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
	display:block;
	clear:both;
	max-width:400px;
	margin: 0px auto;	
}

form.cookiebanner p{
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 0px;
	display:block;
	clear:both;
	max-width:400px;
	margin: 0px auto;
}

form.cookiebanner a{
	color:#fff;
	font-weight: bold;
	text-decoration: underline;
}

form.cookiebanner button{
	-webkit-appearance: none; 
	font-family: 'Arial', sans-serif;
	text-align: center;
	border:2px #fff solid;
	color: #fff;
	background-color: transparent;
	font-size: 15px;
	padding:10px 20px;
	cursor: pointer;


	/*position:absolute;
	bottom:10px;
	right:10px;*/
	float:right;
	clear:none;
}

html[dir="rtl"] form.cookiebanner button{
	float:left;
	/*right:auto;
	left:10px;*/
}

iframe.ssiframe{
	width:100%;
	max-width:841px; 
	height:100vh;
	border:none;
	
}

table.offer_view_table{
	/*border: 2px solid #333;*/
}

table.offer_view_table th{
	font-weight: bold;
}

table.offer_view_table *.centered{
	text-align: center;
	/*font-weight: normal;*/
}

table.offer_view_table td{
	text-align: left;
}

table.offer_view_table *.right{
	text-align: right;
	/*font-weight: normal;*/
}

/*table.offer_view_table td.centered{
	text-align: center;
}

table.offer_view_table td.right{
	text-align: right;
}*/
