<template>
    <div class="overflow-hidden overflow-x-auto relative">        
        <template v-if="viewId !== ''">       
            <div class="card mb-6 py-3 px-6">
                <div class="flex border-b border-40">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Application</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p class="text-90">{{passengers[viewId].code}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Sequence</h4>
                    </div>
                    <div class="w-3/4 py-4 break-words">
                        <p class="text-90">{{passengers[viewId].sequence}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Title</h4>
                    </div>
                    <div class="w-3/4 py-4 break-words">
                        <p class="text-90">{{passengers[viewId].title}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">First Name</h4>
                    </div>
                    <div class="w-3/4 py-4 break-words">
                        <p>{{passengers[viewId].first_name}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Last Name</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p class="text-90">{{passengers[viewId].last_name}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40 remove-bottom-border">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Date of Birth</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p>{{passengers[viewId].dob}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40 remove-bottom-border">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Passport</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p>{{passengers[viewId].passport}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40 remove-bottom-border">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Passport File</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p>{{passengers[viewId].passport_file}}</p>
                    </div>
                </div>
            </div>
            <div class="flex mb-6 mr-6 items-center">
                <a @click="onCancel" tabindex="0" class="btn btn-link dim cursor-pointer text-80 ml-auto mr-6">
                    Back
                </a>  
            </div>
        </template>
        <template v-else-if="editId !== ''">          
            <div class="flex border-b border-40">
                <div class="w-1/5 px-8 py-6">
                    <label for="code" class="inline-block text-80 pt-2 leading-tight">Application</label>
                </div>
                <div class="py-6 px-8 w-1/2">
                    <input id="code" type="text" disabled placeholder="Application" v-model="passengers[editId].code" class="w-full form-control form-input form-input-bordered">
                    <div class="help-text help-text mt-2"></div>
                </div>
            </div>
            <div class="flex border-b border-40">
                <div class="w-1/5 px-8 py-6">
                    <label for="type" class="inline-block text-80 pt-2 leading-tight">Sequence</label>
                </div> 
                <div class="py-6 px-8 w-1/2">
                    <input id="sequence" type="number" disabled placeholder="Sequence" v-model="passengers[editId].sequence" class="w-full form-control form-input form-input-bordered">
                    <div class="help-text help-text mt-2"></div>
                </div>
            </div>
            <div class="flex border-b border-40">
                <div class="w-1/5 px-8 py-6">
                    <label for="title" class="inline-block text-80 pt-2 leading-tight">Title</label>
                </div> 
                <div class="py-6 px-8 w-1/2">
                    <input id="title" type="number" min="1" max="2" placeholder="Title" v-model="passengers[editId].title" class="w-full form-control form-input form-input-bordered"> 
                    <div class="help-text help-text mt-2"></div>
                </div>
            </div>
            <div class="flex border-b border-40">
                <div class="w-1/5 px-8 py-6">
                    <label for="first_name" class="inline-block text-80 pt-2 leading-tight">First Name</label>
                </div> 
                <div class="py-6 px-8 w-1/2">
                    <input id="first_name" type="text" placeholder="First Name" v-model="passengers[editId].first_name" class="w-full form-control form-input form-input-bordered">
                    <div class="help-text help-text mt-2"></div>
                </div>
            </div>
            <div class="flex border-b border-40 remove-bottom-border">
                <div class="w-1/5 px-8 py-6">
                    <label for="last_name" class="inline-block text-80 pt-2 leading-tight">Last Name</label>
                </div>
                <div class="py-6 px-8 w-1/2">
                    <input id="last_name" type="text" placeholder="Last_name" v-model="passengers[editId].last_name" class="w-full form-control form-input form-input-bordered">
                    <div class="help-text help-text mt-2"></div>
                </div>
            </div>
            <div class="flex border-b border-40 remove-bottom-border">
                <div class="w-1/5 px-8 py-6">
                    <label for="dob" class="inline-block text-80 pt-2 leading-tight">Date of Birth</label>
                </div>
                <div class="py-6 px-8 w-1/2">
                    <input id="dob" type="date" placeholder="Date of Birth" v-model="passengers[editId].dob" class="w-full form-control form-input form-input-bordered">
                    <div class="help-text help-text mt-2"></div>
                </div>
            </div>
            <div class="flex border-b border-40 remove-bottom-border">
                <div class="w-1/5 px-8 py-6">
                    <label for="passport" class="inline-block text-80 pt-2 leading-tight">Passport</label>
                </div>
                <div class="py-6 px-8 w-1/2">
                    <input id="passport" type="text" placeholder="Passport" v-model="passengers[editId].passport" class="w-full form-control form-input form-input-bordered">
                    <div class="help-text help-text mt-2"></div>
                </div>
            </div>
            <div class="flex border-b border-40 remove-bottom-border">
                <div class="w-1/5 px-8 py-6">
                    <label for="passport_file" class="inline-block text-80 pt-2 leading-tight">Passport File</label>
                </div>
                <div class="py-6 px-8 w-1/2">
                    <input id="passport_file" type="text" placeholder="Passport File" v-model="passengers[editId].passport_file" class="w-full form-control form-input form-input-bordered">
                    <div class="help-text help-text mt-2"></div>
                </div>
            </div>
            <div class="flex mb-6 mr-6 items-center">
                <a @click="onCancel" tabindex="0" class="btn btn-link dim cursor-pointer text-80 ml-auto mr-6">
                    Cancel
                </a>  
                <button @click="onEditSubmit(passengers[editId].code,passenger)" type="submit" class="btn btn-default btn-primary inline-flex items-center relative" dusk="update-button">
                    <span class="">
                        Update Application Passenger
                    </span>
                </button>
            </div>
        </template>           
        <template v-else-if="deleteId !== ''">      
            <div class="card mb-6 py-3 px-6">
                <div class="flex border-b border-40">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Application</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p class="text-90">{{passengers[deleteId].code}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Sequence</h4>
                    </div>
                    <div class="w-3/4 py-4 break-words">
                        <p class="text-90">{{passengers[deleteId].sequence}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Title</h4>
                    </div>
                    <div class="w-3/4 py-4 break-words">
                        <p class="text-90">{{passengers[deleteId].title}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">First Name</h4>
                    </div>
                    <div class="w-3/4 py-4 break-words">
                        <p>{{passengers[deleteId].first_name}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Last_name</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p class="text-90">{{passengers[deleteId].last_name}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40 remove-bottom-border">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Date of Birth</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p>{{passengers[deleteId].dob}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40 remove-bottom-border">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Passport</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p>{{passengers[deleteId].passport}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40 remove-bottom-border">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Passport File</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p>{{passengers[deleteId].passport_file}}</p>
                    </div>
                </div>
            </div>
            <div class="flex mb-6 mr-6 items-center">
                <a @click="onCancel" tabindex="0" class="btn btn-link dim cursor-pointer text-80 ml-auto mr-6">
                    Cancel
                </a>  
                <button type="submit" @click="deleteEntry(passengers[deleteId].code, passengers[deleteId].sequence, deleteId)" class="btn btn-default btn-primary inline-flex items-center relative" dusk="update-button">
                    <span class="">
                        Delete
                    </span>
                </button>
            </div>
        </template>      
        <template v-else>
            <table class="table w-full" cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th v-for="(field, index) in fields" :key="index" class="text-left">
                        <sortable-icon
                            @sort="sort(field.attribute)"
                            :resource-name="resourceName"
                            :uri-key="field.attribute"
                        >
                            {{ __(field.label) }}
                        </sortable-icon> 
                    </th>    
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(passenger, index) in passengers"
                    v-bind:key="index"
                    v-bind:passenger="passenger">
                        <td class="whitespace-no-wrap text-left">
                            {{ passenger.code }}
                        </td>
                        <td class="whitespace-no-wrap text-left">
                            {{ passenger.sequence }}
                        </td>
                        <td class="td-fit text-right pr-6">
                            <button class="cursor-pointer text-70 hover:text-primary mr-3" v-on:click="onView(passenger, index)">               
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 0 22 16" aria-labelledby="view" role="presentation" class="fill-current">
                                    <path d="M16.56 13.66a8 8 0 0 1-11.32 0L.3 8.7a1 1 0 0 1 0-1.42l4.95-4.95a8 8 0 0 1 11.32 0l4.95 4.95a1 1 0 0 1 0 1.42l-4.95 4.95-.01.01zm-9.9-1.42a6 6 0 0 0 8.48 0L19.38 8l-4.24-4.24a6 6 0 0 0-8.48 0L2.4 8l4.25 4.24h.01zM10.9 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"></path>
                                </svg>
                            </button>  
                            <button class="cursor-pointer text-70 hover:text-primary mr-3" v-on:click="onEdit(passenger, index)">               
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" aria-labelledby="edit" role="presentation" class="fill-current">
                                    <path d="M4.3 10.3l10-10a1 1 0 0 1 1.4 0l4 4a1 1 0 0 1 0 1.4l-10 10a1 1 0 0 1-.7.3H5a1 1 0 0 1-1-1v-4a1 1 0 0 1 .3-.7zM6 14h2.59l9-9L15 2.41l-9 9V14zm10-2a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4c0-1.1.9-2 2-2h6a1 1 0 1 1 0 2H2v14h14v-6z"></path>
                                </svg>
                            </button>   
                            <button class="cursor-pointer text-70 hover:text-primary mr-3" v-on:click="onDelete(passenger.code, passenger.sequence, index)">       
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" aria-labelledby="delete" role="presentation" class="fill-current">
                                    <path fill-rule="nonzero" d="M6 4V2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2h5a1 1 0 0 1 0 2h-1v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6H1a1 1 0 1 1 0-2h5zM4 6v12h12V6H4zm8-2V2H8v2h4zM8 8a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V9a1 1 0 0 1 1-1zm4 0a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V9a1 1 0 0 1 1-1z"></path>
                                </svg>
                            </button> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </template>
    </div>    
</template>

<script>
    const StyleGenerator = (() => {
        let styleIndex = 0;
        let usedStyles = {};
        const styles = [
        ];
        return {
            generate: function(value) {
                if (styleIndex >= styles.length) {
                    styleIndex = 0;
                }
                if (! usedStyles.hasOwnProperty(value)) {
                    usedStyles[value] = styles[styleIndex];
                }
                styleIndex++;
                return usedStyles[value];
            }
        };
    })();
    export default {
        data() {
            return {
                editId: '',
                deleteId: '',
                viewId: '',
                fields: [
                    {
                        label: 'Code',
                        attribute: 'Code',
                    },
                    {
                        label: 'Sequence',
                        attribute: 'sequence',
                    },
                ],
                editPassengerData: {
                    'code': '',
                    'sequence': ''
                },
                viewPassengerData: {
                    'code': '',
                    'sequence': ''
                },
            };
        },
        props: {
            passengers: {
                type: Array,
                required: true,
            },
            sort: {
                type: Function,
            },
        },

        methods: {
            style(value) {
                return StyleGenerator.generate(value);
            },
            onDelete(code, passenger, index) {                
                this.deleteId = index          
            },
            deleteEntry(code, passenger, index) {            
                this.deleteId = ''
                this.editId = ''  
                var app = this; //doesn't like this but app it might
                Nova.request().delete('/nova-vendor/application-passenger/'+code+'/'+passenger)
                .then(function (resp) {
                    app.passengers.splice(index, 1);
                });     
            },
            onEdit(passenger, index) {
                this.editId = index
                this.editPassengerData.code = passenger.code
                this.editPassengerData.sequence = passenger.sequence        
            },
            onCancel(){
                this.editId = ''        
                this.deleteId = ''    
                this.viewId = ''
                this.editPassengerData.code = ''
                this.editPassengerData.sequence = ''
            },
            onView(passenger, index) {
                this.viewId = index
                this.viewPassengerData.code = passenger.code
                this.viewPassengerData.sequence = passenger.sequence        
            },
            onEditSubmit (code, passenger) {
                var app = this; //doesn't like this but app it might
                Nova.request().get('/nova-vendor/application-passenger/edit/'+ code +'/'+ this.editPassengerData.sequence )
                .then(function (resp) {
                }); 
                this.editId = ''
                this.deleteId = ''    
                this.viewId = ''
            }

        }
    }
</script>