<template>
    <div>
        <heading class="mb-6">Application Dates</heading>
        <div class="flex justify-between">
            <div class="relative h-9 flex items-center mb-6">
                <icon type="search" class="absolute ml-3 text-70" />
                <input v-model="search"
                       class="appearance-none form-search w-search pl-search shadow"
                       :placeholder="__('Search')"
                       type="search"
                >
            </div>
        </div>
        <card> 
            <form class="form-inline" v-on:submit.prevent="onSubmit">
                <table class="table w-full" cellpadding="0" cellspacing="0">
                    <tbody>
                <tr>
                <td>
                     <input placeholder="Sequence" id="appdates_sequence" name="sequence" v-model="appdatesData.sequence" type="number" class="w-full form-control form-input form-input-bordered"  required>
                </td>
                <td>
                     <input placeholder="Date" id="appdates_date" name="date" v-model="appdatesData.date" type="date" class="w-full form-control form-input form-input-bordered" required>
                </td>
                <td>
                     <input placeholder="Stay" id="appdates_stay" name="stay" v-model="appdatesData.stay" type="number" class="w-full form-control form-input form-input-bordered"  required>
                </td>
                <td class="td-fit text-right pr-6">
                    <button type="submit" class="btn btn-default btn-icon btn-primary inline-flex items-center relative">Create</button> 
                </td>
                </tr>
                    </tbody>
                </table>
            </form>
        </card>
        <card>
            <appdate-table :appdates="sortedAppDates" :sort="sortBy"></appdate-table>
        </card>
    </div>    
</template>

<script>
 import AppdateTable from './AppdateTable';
    export default {
        props: ['resourceName', 'resourceId', 'field'],
        components: { AppdateTable },
        data() {
            return {
                appdates: [],
                search: '',
                sort: {
                    field: '',
                    order: -1,
                },
                appdatesData: {
                    'stay': '',
                    'sequence': '',
                    'date': ''
                },
            }
        },
        mounted() {
            this.getDates();
        },
        methods: {
            getDates() {
                Nova.request().get('/nova-vendor/application-dates/'+this.resourceId ).then(response => {
                    //console.log(JSON.stringify(response.data));    
                    this.appdates = response.data;
                });
            },
            sortBy(field) {
                this.sort.field = field;
                this.sort.order *= -1;
                this.appdates.sort((appdate1, appdate2) => {
                    let comparison = 0;
                    if (appdate1[this.sort.field] < appdate2[this.sort.field]) {
                        comparison = -1;
                    }
                    if (appdate1[this.sort.field] > appdate2[this.sort.field]) {
                        comparison = 1;
                    }
                    return comparison * this.sort.order;
                });
            },    
            onSubmit(code){
                var app = this; //doesn't like this but app it might
                Nova.request().get('/nova-vendor/application-dates/create/'+ this.resourceId +'/'+ this.appdatesData.sequence +'/'+ this.appdatesData.date +'/'+ this.appdatesData.stay ).then(response => {
                    this.appdates.push({stay: app.appdatesData.stay, sequence: app.appdatesData.sequence, date: app.appdatesData.date });                    
                    this.appdatesData.date = ''
                    this.appdatesData.sequence = ''
                    this.appdatesData.stay = ''
                });
            },
        },
        computed: {
            sortedAppDates() {
                if (! this.search.length) {
                    return this.appdates;
                }           
                const regex = this.searchRegex;
                // User input is not a valid regular expression, show no results
                //console.log(regex);
                if (! regex) {
                    return {};
                }           

                return this.appdates.filter(appdate => {
                    let matchesSearch = false;
                    for (let key in appdate) {
                        if (Array.isArray(appdate[key])) {
                            appdate[key].forEach(property => {
                                if (regex.test(property)) {
                                    matchesSearch = true;
                                }
                            });
                        }
                        else if (regex.test(appdate[key])) {
                            matchesSearch = true;
                        }
                    }
                    return matchesSearch;
                });
                return this.appdates.sort((a,b) => {
                    let modifier = 1;
                    if(this.currentSortDir === 'desc') modifier = -1;
                    if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                    if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                    return 0;
                });
            },
            searchRegex() {
                try {
                    //console.log(this.search);
                    return new RegExp('(' + this.search + ')','i');
                } catch (e) {
                    return false;
                }
            }
        }
    }

</script>
