<template>
    <div>
        <heading class="mb-6">Application Stage Log</heading>
        <div class="flex justify-between">
            <div class="relative h-9 flex items-center mb-6">
                <icon type="search" class="absolute ml-3 text-70" />
                <input v-model="search"
                       class="appearance-none form-search w-search pl-search shadow"
                       :placeholder="__('Search')"
                       type="search"
                >
            </div>
        </div>
        <card> 
            <form class="form-inline" v-on:submit.prevent="onSubmit">
                <table class="table w-full" cellpadding="0" cellspacing="0">
                    <tbody>
                <tr>
                <td>
                     <input placeholder="Date" id="appstage_date" name="date" v-model="appstagelogData.date" type="date" class="w-full form-control form-input form-input-bordered"  required>
                </td>
                <td>
                     <input placeholder="Stage" id="appstage_stage" name="stage" v-model="appstagelogData.stage" type="text" class="w-full form-control form-input form-input-bordered" required>
                </td>
                <td class="td-fit text-right pr-6">
                    <button type="submit" class="btn btn-default btn-icon btn-primary inline-flex items-center relative">Create</button> 
                </td>
                </tr>
                    </tbody>
                </table>
            </form>
        </card>
        <card>
            <appstage-table :appstagelogs="sortedAppStoredLog" :sort="sortBy"></appstage-table>
        </card>
    </div>    
</template>

<script>
 import AppstageTable from './AppstageTable';
    export default {
        props: ['resourceName', 'resourceId', 'field'],
        components: { AppstageTable },
        data() {
            return {
                appstagelogs: [],
                search: '',
                sort: {
                    field: '',
                    order: -1,
                },
                appstagelogData: {
                    'date': '',
                    'stage': ''
                },
            }
        },
        mounted() {
            this.getStages();
        },
        methods: {
            getStages() {
                Nova.request().get('/nova-vendor/application-stage-log/'+this.resourceId ).then(response => {
                    console.log(JSON.stringify(response.data));    
                    this.appstagelogs = response.data;
                });
            },
            sortBy(field) {
                this.sort.field = field;
                this.sort.order *= -1;
                this.appstagelogs.sort((appstage1, appstage2) => {
                    let comparison = 0;
                    if (appstage1[this.sort.field] < appstage2[this.sort.field]) {
                        comparison = -1;
                    }
                    if (appstage1[this.sort.field] > appstage2[this.sort.field]) {
                        comparison = 1;
                    }
                    return comparison * this.sort.order;
                });
            },    
            onSubmit(code){
                var app = this; //doesn't like this but app it might
                Nova.request().get('/nova-vendor/application-stage-log/create/'+ this.resourceId +'/'+ this.appstagelogData.date +'/'+ this.appstagelogData.stage ).then(response => {
                    this.appstagelogs.push({date: app.appstagelogData.date, stage: app.appstagelogData.stage });                    
                    this.appstagelogData.stage = ''
                    this.appstagelogData.date = ''
                });
            },
        },
        computed: {
            sortedAppStoredLog() {
                if (! this.search.length) {
                    return this.appstagelogs;
                }           
                const regex = this.searchRegex;
                // User input is not a valid regular expression, show no results
                //console.log(regex);
                if (! regex) {
                    return {};
                }           

                return this.appstagelogs.filter(appstage => {
                    let matchesSearch = false;
                    for (let key in appstage) {
                        if (Array.isArray(appstage[key])) {
                            appstage[key].forEach(property => {
                                if (regex.test(property)) {
                                    matchesSearch = true;
                                }
                            });
                        }
                        else if (regex.test(appstage[key])) {
                            matchesSearch = true;
                        }
                    }
                    return matchesSearch;
                });
                return this.appstagelogs.sort((a,b) => {
                    let modifier = 1;
                    if(this.currentSortDir === 'desc') modifier = -1;
                    if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                    if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                    return 0;
                });
            },
            searchRegex() {
                try {
                    //console.log(this.search);
                    return new RegExp('(' + this.search + ')','i');
                } catch (e) {
                    return false;
                }
            }
        }
    }

</script>
