
.airlines {
    width: 100%;
    padding: 0;
    margin-bottom: 2rem;
    li {
        @include media-breakpoint-up(sm) {
            width: 24%;
            height: 4rem;
            margin: 0px 20px;
            transform: scale(0.8, 0.8);
        }
        @include media-breakpoint-up(md) {
            width: 18%;
            height: 4rem;
            transform: scale(0.9, 0.9);
        }
        @include media-breakpoint-up(lg) {
            width: 15%;
            height: 4rem;
        }
        @include media-breakpoint-up(xl) {
            width: 15%;
            height: 4rem;
        }
        width: 100%;
        height: 4rem;
        overflow: hidden;
        display: inline-block;
        margin: 0px;
        overflow: visible;
        img {
            filter: gray;
            -webkit-filter: grayscale(1);
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            -webkit-transition: all .4s ease-in-out;
            -moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            resize: none;
        }
        img:hover{
            -webkit-filter: grayscale(0);
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
        }
    }
}


