#banner{
    overflow: hidden;
    position: relative;
    padding-top: 12%;
    padding-bottom: 12%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
  }

  #banner::before { 
    content:"";
    position:absolute; top:0;right:0;bottom:0;left:0;
    background:inherit;
    transition:inherit;
  }
 #banner:hover::before { 
    transform: scale(1.05);
  }

#banner:hover .mask {
    background-color:rgba(120, 45, 163, 0.15);
    opacity: 1;
}

#banner .mask {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    opacity: 0;
}