
/*
 * Cover
 */
.cover {
  margin: 0 auto;
  width: 1100px;
}
@media screen and (max-width: 1100px) {
  .cover {
    margin: 0 1.5rem;
    width: auto;
  }
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.airlines{
  list-style: none;
}

.content{
  margin: 0 auto 2rem;
  max-width: 700px;
}

.content {
  h1,h2,h3,h4,h5,h6 {
    color: #6c757d!important;
  }
}

form{
  margin-bottom: 2rem;
}
.button-row{
  margin-bottom: 2rem;
}
