<template>
    <div class="overflow-hidden overflow-x-auto relative">        
        <template v-if="viewId !== ''">       
            <div class="card mb-6 py-3 px-6">
                <div class="flex border-b border-40">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Offer</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p class="text-90">{{flights[viewId].offer}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Sequence</h4>
                    </div>
                    <div class="w-3/4 py-4 break-words">
                        <p class="text-90">{{flights[viewId].sequence}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Direction</h4>
                    </div>
                    <div class="w-3/4 py-4 break-words">
                        <p class="text-90">{{flights[viewId].direction}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Flight Id</h4>
                    </div>
                    <div class="w-3/4 py-4 break-words">
                        <p>{{flights[viewId].flight_id}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Airline</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p class="text-90">{{flights[viewId].airline}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40 remove-bottom-border">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Operator</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p>{{flights[viewId].operator}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40 remove-bottom-border">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Class</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p>{{flights[viewId].class}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40 remove-bottom-border">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Departure Date</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p>{{flights[viewId].departure_date}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40 remove-bottom-border">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Departure Airport</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p>{{flights[viewId].departure_airport}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40 remove-bottom-border">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Arrival Date</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p>{{flights[viewId].arrival_date}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40 remove-bottom-border">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Arrival Airport</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p>{{flights[viewId].arrival_airport}}</p>
                    </div>
                </div>
            </div>
            <div class="flex mb-6 mr-6 items-center">
                <a @click="onCancel" tabindex="0" class="btn btn-link dim cursor-pointer text-80 ml-auto mr-6">
                    Back
                </a>  
            </div>
        </template>
        <template v-else-if="editId !== ''">          
            <div class="flex border-b border-40">
                <div class="w-1/5 px-8 py-6">
                    <label for="offer" class="inline-block text-80 pt-2 leading-tight">Offer</label>
                </div>
                <div class="py-6 px-8 w-1/2">
                    <input id="offer" type="text" disabled placeholder="Offer" v-model="flights[editId].offer" class="w-full form-control form-input form-input-bordered">
                    <div class="help-text help-text mt-2"></div>
                </div>
            </div>
            <div class="flex border-b border-40">
                <div class="w-1/5 px-8 py-6">
                    <label for="sequence" class="inline-block text-80 pt-2 leading-tight">Sequence</label>
                </div> 
                <div class="py-6 px-8 w-1/2">
                    <input id="sequence" type="text" disabled placeholder="Sequence" v-model="flights[editId].sequence" class="w-full form-control form-input form-input-bordered">
                    <div class="help-text help-text mt-2"></div>
                </div>
            </div>
            <div class="flex border-b border-40">
                <div class="w-1/5 px-8 py-6">
                    <label for="direction" class="inline-block text-80 pt-2 leading-tight">Direction</label>
                </div> 
                <div class="py-6 px-8 w-1/2">
                    <input id="direction" type="text" placeholder="Direction" v-model="flights[editId].direction" class="w-full form-control form-input form-input-bordered"> 
                    <div class="help-text help-text mt-2"></div>
                </div>
            </div>
            <div class="flex border-b border-40">
                <div class="w-1/5 px-8 py-6">
                    <label for="flight_id" class="inline-block text-80 pt-2 leading-tight">Flight ID</label>
                </div> 
                <div class="py-6 px-8 w-1/2">
                    <input id="flight_id" type="text" placeholder="Flight ID" v-model="flights[editId].flight_id" class="w-full form-control form-input form-input-bordered">
                    <div class="help-text help-text mt-2"></div>
                </div>
            </div>
            <div class="flex border-b border-40 remove-bottom-border">
                <div class="w-1/5 px-8 py-6">
                    <label for="airline" class="inline-block text-80 pt-2 leading-tight">Airline</label>
                </div>
                <div class="py-6 px-8 w-1/2">
                    <input id="airline" type="text" placeholder="Airline" v-model="flights[editId].airline" class="w-full form-control form-input form-input-bordered">
                    <div class="help-text help-text mt-2"></div>
                </div>
            </div>
            <div class="flex border-b border-40 remove-bottom-border">
                <div class="w-1/5 px-8 py-6">
                    <label for="operator" class="inline-block text-80 pt-2 leading-tight">Operator</label>
                </div>
                <div class="py-6 px-8 w-1/2">
                    <input id="operator" type="text" placeholder="Operator" v-model="flights[editId].operator" class="w-full form-control form-input form-input-bordered">
                    <div class="help-text help-text mt-2"></div>
                </div>
            </div>
            <div class="flex border-b border-40 remove-bottom-border">
                <div class="w-1/5 px-8 py-6">
                    <label for="class" class="inline-block text-80 pt-2 leading-tight">Class</label>
                </div>
                <div class="py-6 px-8 w-1/2">
                    <input id="class" type="text" placeholder="Class" v-model="flights[editId].class" class="w-full form-control form-input form-input-bordered">
                    <div class="help-text help-text mt-2"></div>
                </div>
            </div>
            <div class="flex border-b border-40 remove-bottom-border">
                <div class="w-1/5 px-8 py-6">
                    <label for="departure_date" class="inline-block text-80 pt-2 leading-tight">Departure Date</label>
                </div>
                <div class="py-6 px-8 w-1/2">
                    <input id="departure_date" type="date" placeholder="Departure Date" v-model="flights[editId].departure_date" class="w-full form-control form-input form-input-bordered">
                    <div class="help-text help-text mt-2"></div>
                </div>
            </div>
            <div class="flex border-b border-40 remove-bottom-border">
                <div class="w-1/5 px-8 py-6">
                    <label for="departure_airport" class="inline-block text-80 pt-2 leading-tight">Departure Airport</label>
                </div>
                <div class="py-6 px-8 w-1/2">
                    <input id="departure_airport" type="text" placeholder="Departure Airport" v-model="flights[editId].departure_airport" class="w-full form-control form-input form-input-bordered">
                    <div class="help-text help-text mt-2"></div>
                </div>
            </div>
            <div class="flex border-b border-40 remove-bottom-border">
                <div class="w-1/5 px-8 py-6">
                    <label for="arrival_date" class="inline-block text-80 pt-2 leading-tight">Arrival Date</label>
                </div>
                <div class="py-6 px-8 w-1/2">
                    <input id="arrival_date" type="date" step="any" placeholder="Arrival Date" v-model="flights[editId].arrival_date" class="w-full form-control form-input form-input-bordered">
                    <div class="help-text help-text mt-2"></div>
                </div>
            </div>
            <div class="flex border-b border-40 remove-bottom-border">
                <div class="w-1/5 px-8 py-6">
                    <label for="arrival_airport" class="inline-block text-80 pt-2 leading-tight">Arrival Airport</label>
                </div>
                <div class="py-6 px-8 w-1/2">
                    <input id="arrival_airport" type="text" placeholder="Arrival Airport" v-model="flights[editId].arrival_airport" class="w-full form-control form-input form-input-bordered">
                    <div class="help-text help-text mt-2"></div>
                </div>
            </div>
            <div class="flex mb-6 mr-6 items-center">
                <a @click="onCancel" tabindex="0" class="btn btn-link dim cursor-pointer text-80 ml-auto mr-6">
                    Cancel
                </a>  
                <button @click="onEditSubmit(flights[editId].offer,flight)" type="submit" class="btn btn-default btn-primary inline-flex items-center relative" dusk="update-button">
                    <span class="">
                        Update Offer Flight
                    </span>
                </button>
            </div>
        </template>           
        <template v-else-if="deleteId !== ''">      
            <div class="card mb-6 py-3 px-6">
                <div class="flex border-b border-40">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Offer</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p class="text-90">{{flights[deleteId].offer}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Sequence</h4>
                    </div>
                    <div class="w-3/4 py-4 break-words">
                        <p class="text-90">{{flights[deleteId].sequence}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Direction</h4>
                    </div>
                    <div class="w-3/4 py-4 break-words">
                        <p class="text-90">{{flights[deleteId].direction}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Flight Id</h4>
                    </div>
                    <div class="w-3/4 py-4 break-words">
                        <p>{{flights[deleteId].flight_id}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Airline</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p class="text-90">{{flights[deleteId].airline}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40 remove-bottom-border">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Operator</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p>{{flights[deleteId].operator}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40 remove-bottom-border">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Class</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p>{{flights[deleteId].class}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40 remove-bottom-border">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Departure Date</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p>{{flights[deleteId].departure_date}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40 remove-bottom-border">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Departure Airport</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p>{{flights[deleteId].departure_airport}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40 remove-bottom-border">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Arrival Date</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p>{{flights[deleteId].arrival_date}}</p>
                    </div>
                </div>
                <div class="flex border-b border-40 remove-bottom-border">
                    <div class="w-1/4 py-4">
                        <h4 class="font-normal text-80">Arrival Airport</h4>
                    </div> 
                    <div class="w-3/4 py-4 break-words">
                        <p>{{flights[deleteId].arrival_airport}}</p>
                    </div>
                </div>
            </div>
            <div class="flex mb-6 mr-6 items-center">
                <a @click="onCancel" tabindex="0" class="btn btn-link dim cursor-pointer text-80 ml-auto mr-6">
                    Cancel
                </a>  
                <button type="submit" @click="deleteEntry(flights[deleteId].offer, flights[deleteId].sequence, deleteId)" class="btn btn-default btn-primary inline-flex items-center relative" dusk="update-button">
                    <span class="">
                        Delete
                    </span>
                </button>
            </div>
        </template>      
        <template v-else>
            <table class="table w-full" cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th v-for="(field, index) in fields" :key="index" class="text-left">
                        <sortable-icon
                            @sort="sort(field.attribute)"
                            :resource-name="resourceName"
                            :uri-key="field.attribute"
                        >
                            {{ __(field.label) }}
                        </sortable-icon> 
                    </th>    
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(flight, index) in flights"
                    v-bind:key="index"
                    v-bind:flight="flight">
                        <td class="whitespace-no-wrap text-left">
                            {{ flight.offer }}
                        </td>
                        <td class="whitespace-no-wrap text-left">
                            {{ flight.sequence }}
                        </td>
                        <td class="td-fit text-right pr-6">
                            <button class="cursor-pointer text-70 hover:text-primary mr-3" v-on:click="onView(flight, index)">               
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 0 22 16" aria-labelledby="view" role="presentation" class="fill-current">
                                    <path d="M16.56 13.66a8 8 0 0 1-11.32 0L.3 8.7a1 1 0 0 1 0-1.42l4.95-4.95a8 8 0 0 1 11.32 0l4.95 4.95a1 1 0 0 1 0 1.42l-4.95 4.95-.01.01zm-9.9-1.42a6 6 0 0 0 8.48 0L19.38 8l-4.24-4.24a6 6 0 0 0-8.48 0L2.4 8l4.25 4.24h.01zM10.9 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"></path>
                                </svg>
                            </button>  
                            <button class="cursor-pointer text-70 hover:text-primary mr-3" v-on:click="onEdit(flight, index)">               
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" aria-labelledby="edit" role="presentation" class="fill-current">
                                    <path d="M4.3 10.3l10-10a1 1 0 0 1 1.4 0l4 4a1 1 0 0 1 0 1.4l-10 10a1 1 0 0 1-.7.3H5a1 1 0 0 1-1-1v-4a1 1 0 0 1 .3-.7zM6 14h2.59l9-9L15 2.41l-9 9V14zm10-2a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4c0-1.1.9-2 2-2h6a1 1 0 1 1 0 2H2v14h14v-6z"></path>
                                </svg>
                            </button>   
                            <button class="cursor-pointer text-70 hover:text-primary mr-3" v-on:click="onDelete(flight.offer, flight.sequence, index)">       
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" aria-labelledby="delete" role="presentation" class="fill-current">
                                    <path fill-rule="nonzero" d="M6 4V2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2h5a1 1 0 0 1 0 2h-1v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6H1a1 1 0 1 1 0-2h5zM4 6v12h12V6H4zm8-2V2H8v2h4zM8 8a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V9a1 1 0 0 1 1-1zm4 0a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V9a1 1 0 0 1 1-1z"></path>
                                </svg>
                            </button> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </template>
    </div>    
</template>

<script>
    const StyleGenerator = (() => {
        let styleIndex = 0;
        let usedStyles = {};
        const styles = [
        ];
        return {
            generate: function(value) {
                if (styleIndex >= styles.length) {
                    styleIndex = 0;
                }
                if (! usedStyles.hasOwnProperty(value)) {
                    usedStyles[value] = styles[styleIndex];
                }
                styleIndex++;
                return usedStyles[value];
            }
        };
    })();
    export default {
        data() {
            return {
                editId: '',
                deleteId: '',
                viewId: '',
                fields: [
                    {
                        label: 'Code',
                        attribute: 'Code',
                    },
                    {
                        label: 'Sequence',
                        attribute: 'sequence',
                    },
                ],
                editFlightData: {
                    'offer': '',
                    'sequence': ''
                },
                viewFlightData: {
                    'offer': '',
                    'sequence': ''
                },
            };
        },
        props: {
            flights: {
                type: Array,
                required: true,
            },
            sort: {
                type: Function,
            },
        },

        methods: {
            style(value) {
                return StyleGenerator.generate(value);
            },
            onDelete(offer, flight, index) {                
                this.deleteId = index          
            },
            deleteEntry(offer, flight, index) {            
                this.deleteId = ''
                this.editId = ''  
                var app = this; //doesn't like this but app it might
                Nova.request().delete('/nova-vendor/offer-flight/'+offer+'/'+flight)
                .then(function (resp) {
                    app.flights.splice(index, 1);
                });     
            },
            onEdit(flight, index) {
                this.editId = index
                this.editFlightData.offer = flight.offer
                this.editFlightData.sequence = flight.sequence        
            },
            onCancel(){
                this.editId = ''        
                this.deleteId = ''    
                this.viewId = ''
                this.editFlightData.offer = ''
                this.editFlightData.sequence = ''
            },
            onView(flight, index) {
                this.viewId = index
                this.viewFlightData.offer = flight.offer
                this.viewFlightData.sequence = flight.sequence        
            },
            onEditSubmit (offer, flight) {
                var app = this; //doesn't like this but app it might
                Nova.request().get('/nova-vendor/offer-flight/edit/'+ offer +'/'+ this.editFlightData.sequence )
                .then(function (resp) {
                }); 
                this.editId = ''
                this.deleteId = ''    
                this.viewId = ''
            }

        }
    }
</script>