<template>
    <div>
        <heading class="mb-6">Offer Flights</heading>
        <div class="relative h-9 flex items-center mb-6">
            <icon type="search" class="absolute ml-3 text-70" />
           <input v-model="search"
                    class="appearance-none form-search w-search pl-search shadow"
                    :placeholder="__('Search')"
                    type="search"
            >    
            <div class="ml-3 w-full flex items-center">
                <div class="flex w-full justify-end items-center"></div> 
                <div class="ml-3">
                    <div class="v-portal" transition="fade-transition" style="display: none;"></div>
                </div>    
                <button type="submit" v-on:click="onCreate()" class="btn btn-default btn-icon btn-primary inline-flex items-center relative">Create</button> 
            </div>                
        </div>
        <card>          
            <template v-if="createFlag !== ''">  
                <form v-on:submit.prevent>       
                    <div class="flex border-b border-40">
                        <div class="w-1/5 px-8 py-6">
                            <label for="offer" class="inline-block text-80 pt-2 leading-tight">Offer</label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input disabled id="offer" type="text" v-model="form.offer" placeholder="Offer" class="w-full form-control form-input form-input-bordered">
                            <div class="help-text help-text mt-2"></div>
                        </div>
                    </div>
                    <div class="flex border-b border-40">
                        <div class="w-1/5 px-8 py-6">
                            <label for="sequence" class="inline-block text-80 pt-2 leading-tight">Sequence</label>
                        </div> 
                        <div class="py-6 px-8 w-1/2">
                            <input v-model="form.sequence" id="sequence" type="text" placeholder="Sequence" class="w-full form-control form-input form-input-bordered">
                            <div class="help-text help-text mt-2"></div>
                        </div>
                    </div>
                    <div class="flex border-b border-40">
                        <div class="w-1/5 px-8 py-6">
                            <label for="direction" class="inline-block text-80 pt-2 leading-tight">Direction</label>
                        </div> 
                        <div class="py-6 px-8 w-1/2">
                            <input v-model="form.direction" id="direction" type="text" placeholder="Direction" class="w-full form-control form-input form-input-bordered"> 
                            <div class="help-text help-text mt-2"></div>
                        </div>
                    </div>
                    <div class="flex border-b border-40">
                        <div class="w-1/5 px-8 py-6">
                            <label for="flight_id" class="inline-block text-80 pt-2 leading-tight">Flight ID</label>
                        </div> 
                        <div class="py-6 px-8 w-1/2">
                            <input v-model="form.flight_id" id="flight_id" type="text" placeholder="Flight ID" class="w-full form-control form-input form-input-bordered">
                            <div class="help-text help-text mt-2"></div>
                        </div>
                    </div>
                    <div class="flex border-b border-40 remove-bottom-border">
                        <div class="w-1/5 px-8 py-6">
                            <label for="airline" class="inline-block text-80 pt-2 leading-tight">Airline</label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input v-model="form.airline" id="airline" type="text" placeholder="Airline" class="w-full form-control form-input form-input-bordered">
                            <div class="help-text help-text mt-2"></div>
                        </div>
                    </div>
                    <div class="flex border-b border-40 remove-bottom-border">
                        <div class="w-1/5 px-8 py-6">
                            <label for="operator" class="inline-block text-80 pt-2 leading-tight">Operator</label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input v-model="form.operator" id="operator" type="text" placeholder="Operator" class="w-full form-control form-input form-input-bordered">
                            <div class="help-text help-text mt-2"></div>
                        </div>
                    </div>
                    <div class="flex border-b border-40 remove-bottom-border">
                        <div class="w-1/5 px-8 py-6">
                            <label for="class" class="inline-block text-80 pt-2 leading-tight">Class</label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input v-model="form.class" id="class" type="text" placeholder="Class" class="w-full form-control form-input form-input-bordered">
                            <div class="help-text help-text mt-2"></div>
                        </div>
                    </div>
                    <div class="flex border-b border-40 remove-bottom-border">
                        <div class="w-1/5 px-8 py-6">
                            <label for="departure_date" class="inline-block text-80 pt-2 leading-tight">Departure Date</label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input v-model="form.departure_date" id="departure_date" type="date" placeholder="Departure Date" class="w-full form-control form-input form-input-bordered">
                            <div class="help-text help-text mt-2"></div>
                        </div>
                    </div>
                    <div class="flex border-b border-40 remove-bottom-border">
                        <div class="w-1/5 px-8 py-6">
                            <label for="departure_airport" class="inline-block text-80 pt-2 leading-tight">Departure Airport</label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input v-model="form.departure_airport" id="departure_airport" type="text" placeholder="Departure Airport" class="w-full form-control form-input form-input-bordered">
                            <div class="help-text help-text mt-2"></div>
                        </div>
                    </div>
                    <div class="flex border-b border-40 remove-bottom-border">
                        <div class="w-1/5 px-8 py-6">
                            <label for="arrival_date" class="inline-block text-80 pt-2 leading-tight">Arrival Date</label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input v-model="form.arrival_date" id="arrival_date" type="date" step="any" placeholder="Arrival Date" class="w-full form-control form-input form-input-bordered">
                            <div class="help-text help-text mt-2"></div>
                        </div>
                    </div>
                    <div class="flex border-b border-40 remove-bottom-border">
                        <div class="w-1/5 px-8 py-6">
                            <label for="arrival_airport" class="inline-block text-80 pt-2 leading-tight">Arrival Airport</label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input v-model="form.arrival_airport" id="arrival_airport" type="text" placeholder="Arrival Airport" class="w-full form-control form-input form-input-bordered">
                            <div class="help-text help-text mt-2"></div>
                        </div>
                    </div>
                    <div class="flex mb-6 mr-6 items-center">
                        <a @click="onCancel" tabindex="0" class="btn btn-link dim cursor-pointer text-80 ml-auto mr-6">
                            Cancel
                        </a>  
                        <button @click="onCreateSubmit()" type="submit" class="btn btn-default btn-primary inline-flex items-center relative" dusk="update-button">
                            <span class="">
                                Create Offer Flight
                            </span>
                        </button>
                    </div>
                </form>
            </template>  
            <flight-table :flights="sortedFlights" :sort="sortBy" v-else></flight-table>
        </card>
    </div>
</template>

<script>
    import FlightTable from './FlightTable';
    export default {
        props: ['resourceName', 'resourceId', 'field'],
        components: { FlightTable },
        data() {
            return {
                flights: [],
                search: '',
                createFlag: '',
                sort: {
                    field: '',
                    order: -1,
                },
                form: {
                    'offer': '',
                    'sequence': ''
                },
            }
        },
        mounted() {
            this.getFlights();
            this.form.offer = this.resourceId;
        },
        methods: {
            getFlights() {
                Nova.request().get('/nova-vendor/offer-flight/'+this.resourceId ).then(response => {
                    console.log(JSON.stringify(response.data));   
                    this.flights = response.data;
                });
            },
            sortBy(field) {
                this.sort.field = field;
                this.sort.order *= -1;
                this.flights.sort((flight1, flight2) => {
                    let comparison = 0;
                    if (flight1[this.sort.field] < flight2[this.sort.field]) {
                        comparison = -1;
                    }
                    if (flight1[this.sort.field] > flight2[this.sort.field]) {
                        comparison = 1;
                    }
                    return comparison * this.sort.order;
                });
            },   
            onCancel(){
                this.createFlag = ''  
            },
            onCreateSubmit(){
                console.log(this.form.departure_date);
                var app = this; //doesn't like this but app it might
                Nova.request().post('/nova-vendor/offer-flight/create', this.form)
                .then(response => {
                  //do something                       
                  this.flights.push({
                      offer: app.form.offer, 
                      sequence: app.form.sequence,
                      direction: app.form.direction,
                      flight_id: app.form.flight_id,
                      airline: app.form.airline,
                      operator: app.form.operator,
                      class: app.form.class,
                      departure_date: app.form.departure_date,
                      departure_airport: app.form.departure_airport,
                      arrival_date: app.form.arrival_date,
                      arrival_airport: app.form.arrival_airport, 
                    });                   
                  this.createFlag = '' 
                });
            },
            onCreate() {                
                this.createFlag = 1          
            },
        },
        computed: {
            sortedFlights() {
                if (! this.search.length) {
                    return this.flights;
                }           
                const regex = this.searchRegex;
                // User input is not a valid regular expression, show no results
                //console.log(regex);
                if (! regex) {
                    return {};
                }           

                return this.flights.filter(flight => {
                    let matchesSearch = false;
                    for (let key in flight) {
                        if (Array.isArray(flight[key])) {
                            flight[key].forEach(property => {
                                if (regex.test(property)) {
                                    matchesSearch = true;
                                }
                            });
                        }
                        else if (regex.test(flight[key])) {
                            matchesSearch = true;
                        }
                    }
                    return matchesSearch;
                });
                return this.flights.sort((a,b) => {
                    let modifier = 1;
                    if(this.currentSortDir === 'desc') modifier = -1;
                    if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                    if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                    return 0;
                });
            },
            searchRegex() {
                try {
                    //console.log(this.search);
                    return new RegExp('(' + this.search + ')','i');
                } catch (e) {
                    return false;
                }
            }
        }
    }

</script>


