<template>
    <div>
        <heading class="mb-6">Application Destination</heading>
        <div class="flex justify-between">
            <div class="relative h-9 flex items-center mb-6">
                <icon type="search" class="absolute ml-3 text-70" />
                <input v-model="search"
                       class="appearance-none form-search w-search pl-search shadow"
                       :placeholder="__('Search')"
                       type="search"
                >
            </div>
        </div>
        <card> 
            <form class="form-inline" v-on:submit.prevent="onSubmit">
                <table class="table w-full" cellpadding="0" cellspacing="0">
                    <tbody>
                <tr>
                <td>
                     <input placeholder="Sequence" id="appdest_sequence" name="sequence" v-model="appdestData.sequence" type="number" class="w-full form-control form-input form-input-bordered"  required>
                </td>
                <td>
                     <input placeholder="Destination" id="appdest_destination" name="destination" v-model="appdestData.destination" type="text" class="w-full form-control form-input form-input-bordered" required>
                </td>
                <td class="td-fit text-right pr-6">
                    <button type="submit" class="btn btn-default btn-icon btn-primary inline-flex items-center relative">Create</button> 
                </td>
                </tr>
                    </tbody>
                </table>
            </form>
        </card>
        <card>
            <appdest-table :appdests="sortedAppDest" :sort="sortBy"></appdest-table>
        </card>
    </div>    
</template>

<script>
 import AppdestTable from './AppdestTable';
    export default {
        props: ['resourceName', 'resourceId', 'field'],
        components: { AppdestTable },
        data() {
            return {
                appdests: [],
                search: '',
                sort: {
                    field: '',
                    order: -1,
                },
                appdestData: {
                    'sequence': '',
                    'destination': ''
                },
            }
        },
        mounted() {
            this.getDests();
        },
        methods: {
            getDests() {
                Nova.request().get('/nova-vendor/application-destination/'+this.resourceId ).then(response => {
                    //console.log(JSON.stringify(response.data));    
                    this.appdests = response.data;
                });
            },
            sortBy(field) {
                this.sort.field = field;
                this.sort.order *= -1;
                this.appdests.sort((appdest1, appdest2) => {
                    let comparison = 0;
                    if (appdest1[this.sort.field] < appdest2[this.sort.field]) {
                        comparison = -1;
                    }
                    if (appdest1[this.sort.field] > appdest2[this.sort.field]) {
                        comparison = 1;
                    }
                    return comparison * this.sort.order;
                });
            },    
            onSubmit(code){
                var app = this; //doesn't like this but app it might
                Nova.request().get('/nova-vendor/application-destination/create/'+ this.resourceId +'/'+ this.appdestData.sequence +'/'+ this.appdestData.destination ).then(response => {
                    this.appdests.push({sequence: app.appdestData.sequence, destination: app.appdestData.destination });                    
                    this.appdestData.destination = ''
                    this.appdestData.sequence = ''
                });
            },
        },
        computed: {
            sortedAppDest() {
                if (! this.search.length) {
                    return this.appdests;
                }           
                const regex = this.searchRegex;
                // User input is not a valid regular expression, show no results
                //console.log(regex);
                if (! regex) {
                    return {};
                }           

                return this.appdests.filter(appdest => {
                    let matchesSearch = false;
                    for (let key in appdest) {
                        if (Array.isArray(appdest[key])) {
                            appdest[key].forEach(property => {
                                if (regex.test(property)) {
                                    matchesSearch = true;
                                }
                            });
                        }
                        else if (regex.test(appdest[key])) {
                            matchesSearch = true;
                        }
                    }
                    return matchesSearch;
                });
                return this.appdests.sort((a,b) => {
                    let modifier = 1;
                    if(this.currentSortDir === 'desc') modifier = -1;
                    if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                    if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                    return 0;
                });
            },
            searchRegex() {
                try {
                    //console.log(this.search);
                    return new RegExp('(' + this.search + ')','i');
                } catch (e) {
                    return false;
                }
            }
        }
    }

</script>
