<template>
    <div>
        <heading class="mb-6">Offer Passengers</heading>
        <div class="relative h-9 flex items-center mb-6">
            <icon type="search" class="absolute ml-3 text-70" />
           <input v-model="search"
                    class="appearance-none form-search w-search pl-search shadow"
                    :placeholder="__('Search')"
                    type="search"
            >
            <div class="ml-3 w-full flex items-center">
                <div class="flex w-full justify-end items-center"></div>
                <div class="ml-3">
                    <div class="v-portal" transition="fade-transition" style="display: none;"></div>
                </div>
                <button type="submit" v-on:click="onCreate()" class="btn btn-default btn-icon btn-primary inline-flex items-center relative">Create</button> 
            </div>
        </div>
        <card>          
            <template v-if="createFlag !== ''">  
                <form v-on:submit.prevent>       
                    <div class="flex border-b border-40">
                        <div class="w-1/5 px-8 py-6">
                            <label for="offer" class="inline-block text-80 pt-2 leading-tight">Offer</label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input disabled id="offer" type="text" v-model="form.offer" placeholder="Offer" class="w-full form-control form-input form-input-bordered">
                            <div class="help-text help-text mt-2"></div>
                        </div>
                    </div>
                    <div class="flex border-b border-40">
                        <div class="w-1/5 px-8 py-6">
                            <label for="sequence" class="inline-block text-80 pt-2 leading-tight">Sequence</label>
                        </div> 
                        <div class="py-6 px-8 w-1/2">
                            <input v-model="form.sequence" id="sequence" type="number" min="0" placeholder="Sequence" class="w-full form-control form-input form-input-bordered">
                            <div class="help-text help-text mt-2"></div>
                        </div>
                    </div>
                    <div class="flex border-b border-40">
                        <div class="w-1/5 px-8 py-6">
                            <label for="title" class="inline-block text-80 pt-2 leading-tight">Title</label>
                        </div> 
                        <div class="py-6 px-8 w-1/2">
                            <input v-model="form.title" id="title" type="number" min="1" max="2" placeholder="Title" class="w-full form-control form-input form-input-bordered"> 
                            <div class="help-text help-text mt-2"></div>
                        </div>
                    </div>
                    <div class="flex border-b border-40">
                        <div class="w-1/5 px-8 py-6">
                            <label for="first_name" class="inline-block text-80 pt-2 leading-tight">First Name</label>
                        </div> 
                        <div class="py-6 px-8 w-1/2">
                            <input v-model="form.first_name" id="first_name" type="text" placeholder="First Name" class="w-full form-control form-input form-input-bordered">
                            <div class="help-text help-text mt-2"></div>
                        </div>
                    </div>
                    <div class="flex border-b border-40 remove-bottom-border">
                        <div class="w-1/5 px-8 py-6">
                            <label for="last_name" class="inline-block text-80 pt-2 leading-tight">Last Name</label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input v-model="form.last_name" id="last_name" type="text" placeholder="Last Name" class="w-full form-control form-input form-input-bordered">
                            <div class="help-text help-text mt-2"></div>
                        </div>
                    </div>
                    <div class="flex border-b border-40 remove-bottom-border">
                        <div class="w-1/5 px-8 py-6">
                            <label for="dob" class="inline-block text-80 pt-2 leading-tight">Date of Birth</label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input v-model="form.dob" id="dob" type="date" placeholder="Date of Birth" class="w-full form-control form-input form-input-bordered">
                            <div class="help-text help-text mt-2"></div>
                        </div>
                    </div>
                    <div class="flex border-b border-40 remove-bottom-border">
                        <div class="w-1/5 px-8 py-6">
                            <label for="type" class="inline-block text-80 pt-2 leading-tight">Type</label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input v-model="form.type" id="type" type="text" placeholder="Type" class="w-full form-control form-input form-input-bordered">
                            <div class="help-text help-text mt-2"></div>
                        </div>
                    </div>
                    <div class="flex border-b border-40 remove-bottom-border">
                        <div class="w-1/5 px-8 py-6">
                            <label for="passport" class="inline-block text-80 pt-2 leading-tight">Passport</label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input v-model="form.passport" id="passport" type="text" placeholder="Passport" class="w-full form-control form-input form-input-bordered">
                            <div class="help-text help-text mt-2"></div>
                        </div>
                    </div>
                    <div class="flex border-b border-40 remove-bottom-border">
                        <div class="w-1/5 px-8 py-6">
                            <label for="passport_file" class="inline-block text-80 pt-2 leading-tight">Passport File</label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input v-model="form.passport_file" id="passport_file" type="text" placeholder="Passport File" class="w-full form-control form-input form-input-bordered">
                            <div class="help-text help-text mt-2"></div>
                        </div>
                    </div>
                    <div class="flex mb-6 mr-6 items-center">
                        <a @click="onCancel" tabindex="0" class="btn btn-link dim cursor-pointer text-80 ml-auto mr-6">
                            Cancel
                        </a>  
                        <button @click="onCreateSubmit()" type="submit" class="btn btn-default btn-primary inline-flex items-center relative" dusk="update-button">
                            <span class="">
                                Create Offer Passenger
                            </span>
                        </button>
                    </div>
                </form>
            </template>
            <passenger-table :passengers="sortedPassengers" :sort="sortBy" v-else></passenger-table>
        </card>
    </div>
</template>

<script>
    import PassengerTable from './PassengerTable';
    export default {
        props: ['resourceName', 'resourceId', 'field'],
        components: { PassengerTable },
        data() {
            return {
                passengers: [],
                search: '',
                createFlag: '',
                sort: {
                    field: '',
                    order: -1,
                },
                form: {
                    'offer': '',
                    'sequence': ''
                },
            }
        },
        mounted() {
            this.getPassengers();
            this.form.offer = this.resourceId;
        },
        methods: {
            getPassengers() {
                Nova.request().get('/nova-vendor/offer-passenger/'+this.resourceId ).then(response => {
                    console.log(JSON.stringify(response.data));   
                    this.passengers = response.data;
                });
            },
            sortBy(field) {
                this.sort.field = field;
                this.sort.order *= -1;
                this.passengers.sort((passenger1, passenger2) => {
                    let comparison = 0;
                    if (passenger1[this.sort.field] < passenger2[this.sort.field]) {
                        comparison = -1;
                    }
                    if (passenger1[this.sort.field] > passenger2[this.sort.field]) {
                        comparison = 1;
                    }
                    return comparison * this.sort.order;
                });
            },   
            onCancel(){
                this.createFlag = ''  
            },
            onCreateSubmit(){
                console.log(this.form.passport);
                var app = this; //doesn't like this but app it might
                Nova.request().post('/nova-vendor/offer-passenger/create', this.form)
                .then(response => {
                  //do something                       
                  this.passengers.push({
                      offer: app.form.offer, 
                      sequence: app.form.sequence,
                      title: app.form.title,
                      first_name: app.form.first_name,
                      last_name: app.form.last_name,
                      dob: app.form.dob,
                      type: app.form.type,
                      passport: app.form.passport,
                      passport_file: app.form.passport_file,
                    });                   
                  this.createFlag = '' 
                });
            },
            onCreate() {                
                this.createFlag = 1          
            },
        },
        computed: {
            sortedPassengers() {
                if (! this.search.length) {
                    return this.passengers;
                }           
                const regex = this.searchRegex;
                // User input is not a valid regular expression, show no results
                //console.log(regex);
                if (! regex) {
                    return {};
                }           

                return this.passengers.filter(passenger => {
                    let matchesSearch = false;
                    for (let key in passenger) {
                        if (Array.isArray(passenger[key])) {
                            passenger[key].forEach(property => {
                                if (regex.test(property)) {
                                    matchesSearch = true;
                                }
                            });
                        }
                        else if (regex.test(passenger[key])) {
                            matchesSearch = true;
                        }
                    }
                    return matchesSearch;
                });
                return this.passengers.sort((a,b) => {
                    let modifier = 1;
                    if(this.currentSortDir === 'desc') modifier = -1;
                    if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                    if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                    return 0;
                });
            },
            searchRegex() {
                try {
                    //console.log(this.search);
                    return new RegExp('(' + this.search + ')','i');
                } catch (e) {
                    return false;
                }
            }
        }
    }

</script>
