<template>
  <div class="row">
    <div class="flex items-center mb-3">
      <h1 class="flex-no-shrink text-90 font-normal text-2xl">Campaign Flight Matrix</h1>
      <div class="ml-3 w-full flex items-center">
        <div class="flex w-full justify-end items-center"></div> 
        <div class="ml-3">
          <div class="v-portal" transition="fade-transition" style="display: none;"></div>
        </div> 
        <button class="btn btn-default btn-icon btn-primary inline-flex items-center relative" @click="save">
          Save
        </button>
      </div>
    </div>
    <div class="col-2">
      <button class="btn btn-default btn-icon btn-primary inline-flex items-center relative" @click="sort">
        Reset
      </button>
      <button class="btn btn-default btn-icon btn-primary inline-flex items-center relative" @click="addDept">
        Add New Departure
      </button>
    </div>   
    <draggable v-model="flightmatrix" tag="div" 
          v-bind="dragOptions" class="alldest">
      <div class="column" v-for="(depart,index) in flightmatrix"
              :key="index">        
        <table class="table table-striped">
          <thead class="thead-dark">
              <tr v-if="editId === index">
                <td style="font-weight:700" >                          
                      <autocomplete 
                          :get-result-value="getResultValue" 
                          :search="search" placeholder="Enter IATA code..." 
                          @submit="onSubmit" 
                          default-value="" 
                          @focus="handleFocus"
                          @blur="handleBlur"
                        >
                      </autocomplete>
                </td>
                <td>
                </td>
              </tr>
              <tr v-else>
                <td style="font-weight:700" @click="onEdit(index)">
                  {{ depart.iata }} - {{ depart.name }}
                </td>
                <td>   
                  <button @click="delDept(index)" class="cursor-pointer text-70 hover:text-primary mr-3"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" aria-labelledby="delete" role="presentation" class="fill-current"><path fill-rule="nonzero" d="M6 4V2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2h5a1 1 0 0 1 0 2h-1v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6H1a1 1 0 1 1 0-2h5zM4 6v12h12V6H4zm8-2V2H8v2h4zM8 8a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V9a1 1 0 0 1 1-1zm4 0a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V9a1 1 0 0 1 1-1z"></path></svg></button>
                </td>
              </tr>
          </thead>
        <draggable
          class="list-group"
          tag="tbody"
          :group="{put: false }"
          v-model="depart.dests"
          v-bind="dragOptions"
          @start="drag = true"
          @end="drag = false"
        >
            <div v-for="(dest,subindex) in depart.dests" :key="subindex">
              <tr v-if=" editSubMain === index && editSubSub === subindex ">
                <td>
                    <autocomplete
                            :get-result-value="getResultValue" 
                            :search="search" placeholder="Enter IATA code..." 
                            @submit="onSubmitSub" 
                            default-value=""
                            @focus="handleFocus"
                            @blur="handleBlur"
                          >
                        </autocomplete>
                </td>
                <td>  
                </td>
              </tr>
              <tr v-else>
                <td @click="onSubEdit(index,subindex)">
                  <!-- <button class="btn btn-default btn-icon btn-primary inline-flex items-center relative" @click="delDest(index,subindex)">
                    -
                  </button> -->
                  {{dest.iata}} - {{dest.name}}
                </td>
                <td>  
                  <button @click="delDest(index,subindex)" class="cursor-pointer text-70 hover:text-primary mr-3"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" aria-labelledby="delete" role="presentation" class="fill-current"><path fill-rule="nonzero" d="M6 4V2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2h5a1 1 0 0 1 0 2h-1v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6H1a1 1 0 1 1 0-2h5zM4 6v12h12V6H4zm8-2V2H8v2h4zM8 8a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V9a1 1 0 0 1 1-1zm4 0a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V9a1 1 0 0 1 1-1z"></path></svg></button>
                </td>
              </tr>
            </div>
        </draggable> 
        <tbody> 
            <tr>
              <td>
                <button class="btn btn-default btn-icon btn-primary inline-flex items-center relative" @click="addDest(index)">
                  +
                </button>
              </td>
            </tr>  
          </tbody>
        </table>
      </div> 
    </draggable>
    <!-- <div>{{valueString}}</div> -->
  </div>
</template>

<script>
import draggable from "vuedraggable";
import autocomplete from '@trevoreyre/autocomplete-vue';
import '@trevoreyre/autocomplete-vue/dist/style.css';

export default {
  props: ['resourceName', 'resourceId', 'field'],
  name: "transition-example-2",
  display: "Transitions",
  order: 7,
  components: {
    draggable,
    autocomplete
  },
  data() {
    return {
      flightmatrix: [],
      airports: [],
      drag: false,
      editId: '',
      editSubMain: '',
      editSubSub: '',
    };
  },
  mounted() {
      this.getFlightMatrix();
      this.getAirports();
  },
  methods: {
    getFlightMatrix() {
      Nova.request().get('/nova-vendor/campaign-flight-matrix/'+this.resourceId ).then(response => {
          this.flightmatrix = response.data;
      });
    },
    getAirports() {
      Nova.request().get('/nova-vendor/campaign-flight-matrix/airport/airports' ).then(response => {
          this.airports = response.data;
      });
    },
    sort() {
      Nova.request().get('/nova-vendor/campaign-flight-matrix/'+this.resourceId ).then(response => {
          this.flightmatrix = response.data;
      });
    },
    addDept() {   
      this.flightmatrix.push({ "iata": "", "sequence": "", "name": "Blank", "dests": [ { "iata": "", "sequence": "", "name": "Blank" }]});
    },
    delDept(index) {
      this.flightmatrix.splice(index, 1);
    },
    addDest(index) {   
      this.flightmatrix[index].dests.push( { "iata": "", "sequence": "", "name": "Blank" });
    },
    delDest(index,subindex) {
      this.flightmatrix[index].dests.splice(subindex, 1);
    },
    save() {      
      Nova.request().post('/nova-vendor/campaign-flight-matrix/write',{matrix: this.flightmatrix, resource: this.resourceId} ).then(response => {
          console.log(response.data);
      });
    }, 
    onEdit(index) {
      this.editId = index ;
    },    
    onSubEdit(index,subindex) {
      console.log(index);
      console.log(subindex);
      this.editSubMain = index ;
      this.editSubSub = subindex ; 
    },
    search(input) {   
      if (input.length < 1) { return[] }
      return this.airports.filter(airport => {
        return airport.iata.toLowerCase().startsWith(input.toLowerCase())
      })
    },    
    getResultValue(result) {
      return result.iata+" - "+result.name
    },
    onSubmit(result) {
      this.flightmatrix[this.editId].iata = result.iata;
      this.flightmatrix[this.editId].name = result.name;
      this.editId = '';
    },  
    onSubmitSub(result) {
      this.flightmatrix[this.editSubMain].dests[this.editSubSub].iata = result.iata;
      this.flightmatrix[this.editSubMain].dests[this.editSubSub].name = result.name;
      this.editSubMain = '';
      this.editSubSub = '';
    },     
    handleFocus() {
      console.log("hfocus");
      this.focused = true
    },    
    handleBlur() {
      console.log("hblur");
      this.focused = false
      this.editId='';
      this.editSubMain = '';
      this.editSubSub = '';
    }
  },
  computed: {
    dragOptions() {
      return {
        animation: 200,
        group: "description",
        disabled: false,
        ghostClass: "ghost"
      };
    },
    valueString() { 
      return JSON.stringify(this.flightmatrix, null, 2);
    }
  }
};
</script>

<style>
.button {
  margin-top: 35px;
}
.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
.ghost {
  opacity: 0.3;
  background: #ef738b;
}
.list-group {
  min-height: 20px;
}
.list-group-item {
  cursor: move;
}
.list-group-item i {
  cursor: pointer;
}
.column {
  display: inline-block;
  padding: 10px;
  vertical-align:top;
}
.alldest{
    width: 100%;
    overflow-x: auto;
  white-space: nowrap;
}
.autocomplete-input {
    border: 1px solid #eee;
    border-radius: 8px;
    width: 100%;
    padding: 12px 12px 12px 48px;
    box-sizing: border-box;
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    flex: 1;
    background-color: #eee;
    outline: 0;
    -webkit-box-shadow: 0 0 0 3px var(--primary-50);
    box-shadow: 0 0 0 3px var(--primary-50);
    padding-left: 2.75rem;
    height: 1rem;
}
.autocomplete-input:focus {
    -webkit-box-shadow: 0 0 0 3px var(--primary-50);
    box-shadow: 0 0 0 3px var(--primary-50);
}

</style>
