<template>
    <div>
        <heading class="mb-6">Campaign Departure Airports</heading>
        <div class="flex justify-between">
            <div class="relative h-9 flex items-center mb-6">
                <icon type="search" class="absolute ml-3 text-70" />
                <input v-model="search"
                       class="appearance-none form-search w-search pl-search shadow"
                       :placeholder="__('Search')"
                       type="search"
                >
            </div>
        </div>
        <card> 
            <form class="form-inline" v-on:submit.prevent="onSubmit">
                <table class="table w-full" cellpadding="0" cellspacing="0">
                    <tbody>
                <tr>
                <td>
                     <input placeholder="Sequence" id="depair_sequence" name="sequence" v-model="depairData.sequence" type="number" class="w-full form-control form-input form-input-bordered"  required>
                </td>
                <td>
                     <input placeholder="IATA" id="depair_iata" name="iata" v-model="depairData.iata" type="text" class="w-full form-control form-input form-input-bordered" required>
                </td>
                <td class="td-fit text-right pr-6">
                    <button type="submit" class="btn btn-default btn-icon btn-primary inline-flex items-center relative">Create</button> 
                </td>
                </tr>
                    </tbody>
                </table>
            </form>
        </card>
        <card>
            <depair-table :depairs="sortedDepairs" :sort="sortBy"></depair-table>
        </card>
    </div>    
</template>

<script>
 import DepairTable from './DepairTable';
    export default {
        props: ['resourceName', 'resourceId', 'field'],
        components: { DepairTable },
        data() {
            return {
                depairs: [],
                search: '',
                sort: {
                    field: '',
                    order: -1,
                },
                depairData: {
                    'sequence': '',
                    'iata': ''
                },
            }
        },
        mounted() {
            this.getDepairs();
        },
        methods: {
            getDepairs() {
                Nova.request().get('/nova-vendor/campaign-departure-airport/'+this.resourceId ).then(response => {
                    //console.log(JSON.stringify(response.data));   
                    this.depairs = response.data;
                });
            },
            sortBy(field) {
                this.sort.field = field;
                this.sort.order *= -1;
                this.depairs.sort((depair1, depair2) => {
                    let comparison = 0;
                    if (depair1[this.sort.field] < depair2[this.sort.field]) {
                        comparison = -1;
                    }
                    if (depair1[this.sort.field] > depair2[this.sort.field]) {
                        comparison = 1;
                    }
                    return comparison * this.sort.order;
                });
            },    
            onSubmit(campaign){
                var app = this; //doesn't like this but app it might
                Nova.request().get('/nova-vendor/campaign-departure-airport/create/'+ this.resourceId +'/'+ this.depairData.sequence +'/'+ this.depairData.iata ).then(response => {
                    this.depairs.push({sequence: app.depairData.sequence, iata: app.depairData.iata });                    
                    this.depairData.iata = ''
                    this.depairData.sequence = ''
                });
            },
        },
        computed: {
            sortedDepairs() {
                if (! this.search.length) {
                    return this.depairs;
                }           
                const regex = this.searchRegex;
                // User input is not a valid regular expression, show no results
                //console.log(regex);
                if (! regex) {
                    return {};
                }           

                return this.depairs.filter(depair => {
                    let matchesSearch = false;
                    for (let key in depair) {
                        if (Array.isArray(depair[key])) {
                            depair[key].forEach(property => {
                                if (regex.test(property)) {
                                    matchesSearch = true;
                                }
                            });
                        }
                        else if (regex.test(depair[key])) {
                            matchesSearch = true;
                        }
                    }
                    return matchesSearch;
                });
                return this.depairs.sort((a,b) => {
                    let modifier = 1;
                    if(this.currentSortDir === 'desc') modifier = -1;
                    if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                    if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                    return 0;
                });
            },
            searchRegex() {
                try {
                    //console.log(this.search);
                    return new RegExp('(' + this.search + ')','i');
                } catch (e) {
                    return false;
                }
            }
        }
    }

</script>
