:root {
  --primary: rgb(232, 55, 89, 1);
  --primary-dark: rgb(35, 27, 51, 1);
  --primary-70: rgba(232, 55, 89, 0.7);
  --primary-50: rgba(232, 55, 89, 0.5);
  --primary-30: rgba(232, 55, 89, 0.3);
  --primary-10: rgba(232, 55, 89, 0.1);
  --logo: #E83759;
  --sidebar-icon: #ffffff;
}

.bg-grad-sidebar {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#ef738b),
    to(rgb(232, 55, 89, 1))
  );

  background-image: linear-gradient(
    /* 0deg,
    rgb(232, 55, 89, 1),
    rgb(100, 5, 113) */
  );
}
